<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>OllehTV Meta Extended</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script th:src="@{/js/admin.js}"></script>

	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container1">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">OllehTV Meta</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/admin/items/list">Items</a></li>
					<li><a href="/admin/movie_cine21/list">Cine21</a></li>
					<li><a href="/admin/properties/list">Properties</a></li>
					<li><a href="/admin/dic/filter/list">Dictionary</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container1">

		<div class="starter-template">
			<h1><span class="label label-default">일괄 배치처리 이력 : <b th:text="${countItems}"></b></span></h1>
			<!-- Trigger the modal with a button -->
			<div class="text-right">
				<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">일괄작업 추가</button>
			</div>
			<div id="searchArea" align="center">
				<input id="searchTxt" type="text" width="30" th:value="${searchTxt}"
					   th:onkeydown="'onKeyDown('+${pageno}+');' "
				/>
				<button type="button" class="btn btn-primary"
						th:onclick="'search_manualJob('+${pageno}+');' ">
					검색
				</button>
				<div id="paging" align="center" width="100%">
					<ul class="pagination" th:each="pg : ${listPage}">
						<li th:if="${pg == pageno}" th:class="active">
							<a th:href="@{'/admin/manual/change?page='+${pg}}" th:text="${pg}"></a></li>
						<li th:unless="${pg == pageno}">
							<a th:href="@{'/admin/manual/change?page='+${pg}}" th:text="${pg}"></a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<form class="form-group">
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">키워드를 입력하세요!</h4>
					</div>

					<div class="modal-body">
						<div class="form-group row">
							<label for="target_mtype">사전 타입 : </label>
							<select id="target_mtype" class="form-control"  style="width:200px">
								<option value="METASWHEN">시간적배경</option>
								<option value="METASWHERE">공간적배경</option>
								<option value="METASWHO">인물/캐릭터</option>
								<option value="METASWHAT">주재/소재</option>
								<option value="METASEMOTION">감성/분위기</option>
								<option value="METASCHARACTER">캐릭터</option>
							</select>
						</div>

						<div class="form-group row">
							<label for="from_keyword" class="col-sm-2 col-form-label" style="width:200px">기존 키워드 : </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="from_keyword" placeholder="keyword" />
							</div>
						</div>

						<div class="form-group row">
							<label for="to_keyword" class="col-sm-2 col-form-label"  style="width:200px">대상 키워드 : </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="to_keyword" placeholder="keyword" />
							</div>
						</div>

						<div class="form-group row">
							<label for="action">Action : </label>
							<select id="action" class="form-control" width="200px">
								<option value="add">추가 (두 키워드가 다를 경우 해당 키워드가 존재하는 경우만 추가)</option>
								<option value="mod">변경</option>
								<option value="del">삭제</option>
							</select>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" onclick="doManualChange();">일괄작업 실행</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
		</form>
		<br/>

		<div class="table-responsive" style="width:3000px;">
			<table id="targetListTable" class="table" border="1" style="width:1300px;">
				<thead>
				<tr>
					<th class="text-center">SEQ</th>
					<th class="text-center">사전 타입</th>
					<th class="text-center">기존 키워드</th>
					<th class="text-center">대상 키워드</th>
					<th class="text-center">ACTION</th>
					<th class="text-center">등록일시</th>
					<th class="text-center">처리건수</th>
					<th class="text-center">상태코드</th>
					<th class="text-center">종료일시</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="items : ${itemsList}">
					<td width="100px" class="text-center"><span th:text="${items.hidx}"></span></td>
					<td width="200px" th:switch="${items.target_mtype}" class="text-center">
						<span th:case="METASWHEN">시간적 배경</span>
						<span th:case="METASWHERE">공간적 배경</span>
						<span th:case="METASWHO">인물/캐릭터</span>
						<span th:case="METASWHAT">주재/소재</span>
						<span th:case="METASEMOTION">감성/분위기</span>
						<span th:case="METASECHARACTER">캐릭터</span>
						<span th:case="*" th:value="${items.target_mtype}"></span>
					</td>
					<td width="100px" class="text-center"><span th:text="${items.from_keyword}"></span></td>
					<td width="100px" class="text-center"><span th:text="${items.to_keyword}"></span></td>
					<td width="100px" class="text-center text-uppercase ">
						<span th:text="${items.action}" style="font-size:14px; font-weight:bold" />
					</td>
					<td width="300px" class="text-center"><span th:text="${items.regdate}"></span></td>
					<td width="100px" class="text-center"><span th:text="${items.cnt}"></span></td>
					<td width="100px" class="text-center"><span th:text="${items.stat}"></span></td>
					<td width="300px" class="text-center"><span th:text="${items.enddate}"></span></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>