<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<script type="text/javascript"
		src="webjars/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Movie search at IMDB testing!</h1>
			<br/>
			<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
				<input type="text" id="text1" name="text1"/>
				<input type="submit" value="SEARCH at IMDB.com !" id="btnSubmit"/>
			</form>
			<br/><br/>
			<textarea id="textv1" cols="180" rows="200">

			</textarea>
		</div>

	</div>
	<!-- /.container

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->


</body>
</html>