<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.AuthUserMapper">


    <select id="getAuthUsers" resultType="com.kthcorp.cmts.model.AuthUser">
        /* getAuthUsers */
        select
          idx, userid, usergrant, username, usercompany, regdate, regid, stat, userpass as password
        from auth_user
        /* where stat != 'Y' */
        order by regdate desc
    </select>

    <select id="getAuthUserById" resultType="com.kthcorp.cmts.model.AuthUser">
        /* getAuthUserById */
        select
        idx, userid, usergrant, username, usercompany, regdate, regid, stat, userpass as password
        from auth_user
        where userid = #{userid}
        order by regdate DESC limit 1
    </select>

    <insert id="insAuthUser" parameterType="com.kthcorp.cmts.model.AuthUser" useGeneratedKeys="true" keyProperty="idx">
        /* insAuthUser */
        insert into auth_user
          (userid, usergrant, username, usercompany,
          regdate, regid, stat, userpass)
        values
          (#{userid}, #{usergrant}, #{username}, #{usercompany},
          now(), #{regid}, 'Y' , #{password})
    </insert>

    <update id="uptAuthUser" parameterType="com.kthcorp.cmts.model.AuthUser">
        /* uptAuthUser */
        update auth_user
        set
        regdate = now()
        ,regid = #{regid}
        <if test='usergrant != null and usergrant != ""'>
            , usergrant = #{usergrant}
        </if>
        <if test='username != null and username != ""'>
            , username = #{username}
        </if>
        <if test='usercompany != null and usercompany != ""'>
            , usercompany = #{usercompany}
        </if>
        <if test='stat != null and stat != ""'>
            , stat = #{stat}
        </if>
        <if test='password != null and password != ""'>
            , userpass = #{password}
        </if>
        where userid = #{userid}
    </update>

    <update id="delAuthUser" parameterType="com.kthcorp.cmts.model.AuthUser">
        /* delAuthUser */
        update auth_user
        set
        regdate = now()
        ,regid = #{regid}
        , stat = 'D'
        where userid = #{userid}
    </update>

</mapper>