<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.ConfPsMappingOrigMapper">

    <insert id="insConfPsMappingOrig" parameterType="com.kthcorp.cmts.model.ConfPsMappingOrig">
        /* insConfPsMappingOrig */
        insert into conf_ps_mapping_ORIG
        (tg_id, ps_id)
        VALUES
        (#{tg_id}, #{ps_id})
    </insert>

</mapper>