<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.ConfPresetMapper">

    <insert id="insertConfPreset" parameterType="ConfPreset"
            useGeneratedKeys="true" keyProperty="ps_id">
        /* insertConfPreset */
        insert into conf_preset
          (priority, ps_tag, descriptp, dest_field, dest_charset, ps_type, regdate, regid, ps_add_url)
          VALUES
          (#{priority}, #{ps_tag}, #{descriptp}, #{dest_field}, #{dest_charset}, #{ps_type}, now(), #{regid}, #{ps_add_url})
    </insert>

    <update id="uptConfPreset" parameterType="ConfPreset">
        /* uptConfPreset */
        update conf_preset set regdate = now()
          <if test='ps_tag != null and ps_tag != ""'>
              , ps_tag = #{ps_tag}
          </if>
        <if test='ps_type != null and ps_type != ""'>
            , ps_type = #{ps_type}
        </if>
        <if test='dest_field != null and dest_field != ""'>
            , dest_field = #{dest_field}
        </if>
        <if test='descriptp != null and descriptp != ""'>
            , descriptp = #{descriptp}
        </if>
        <if test='ps_add_url != null and ps_add_url != ""'>
            , ps_add_url = #{ps_add_url}
        </if>
        <if test='dest_charset != null and dest_charset != ""'>
            , dest_charset = #{dest_charset}
        </if>
        where ps_id=#{ps_id}
    </update>

</mapper>