<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.ConfTargetContentMapper">

    <insert id="insConfTargetContent" parameterType="ConfTargetContent">
        /* insConfTargetContent */
        insert into conf_target_content (tg_id, tgh_id, regdate, content)
        values (#{tg_id}, #{tgh_id}, NOW(), #{content})
    </insert>

</mapper>