<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.DicAddWordsMapper">

    <select id="getDicAddWords" resultType="com.kthcorp.cmts.model.DicAddWords">
        /* getDicAddWords */
        select
          idx, word, freq, regdate, regid
        from dic_add_words
    </select>

    <select id="getDicAddWordsPaging" parameterType="com.kthcorp.cmts.model.DicAddWords"
            resultType="com.kthcorp.cmts.model.DicAddWords">
        /* getDicAddWordsPaging */
        select
        idx, word, freq, regdate, regid
        from dic_add_words
        <if test='word != null and word != ""'>
            where word like concat('%',#{word},'%')
        </if>
        order by regdate DESC, idx DESC
        limit ${pageSize} offset ${offsetIdx}
    </select>

    <insert id="insDicAddWords" parameterType="com.kthcorp.cmts.model.DicAddWords" useGeneratedKeys="true" keyProperty="idx">
        /* insDicAddWords */
        insert into dic_add_words (word, freq, regdate, regid)
        values (#{word}, #{freq}, now() , #{regid})
    </insert>

    <update id="uptDicAddWords" parameterType="com.kthcorp.cmts.model.DicAddWords">
        /* uptDicAddWords */
        update dic_add_words
          set
            regdate = now()
            ,regid = #{regid}
            <if test='word != null and word != ""'>
              , word = #{word}
            </if>
            <if test='freq != null and freq > 0'>
              , freq = #{freq}
            </if>
          where idx = #{idx}
    </update>

    <update id="uptDicAddWordsByWord" parameterType="com.kthcorp.cmts.model.DicAddWords">
        /* uptDicAddWordsByWord */
        update dic_add_words
        set
        regdate = now()
        ,regid = #{regid}
        <if test='word != null and word != ""'>
            , word = #{word}
        </if>
        <if test='freq != null and freq > 0'>
            , freq = #{freq}
        </if>
        where word = #{oldword}
    </update>

    <delete id="delDicAddWordsByWord" parameterType="com.kthcorp.cmts.model.DicAddWords">
        /* delDicAddWordsByWord */
        delete from dic_add_words
        where word = #{oldword}
    </delete>

    <select id="countItems" parameterType="com.kthcorp.cmts.model.DicAddWords"
            resultType="Integer">
        /* countItems */
        select count(*)
        from dic_add_words
        <if test='word != null and word != ""'>
            where word like concat('%',#{word},'%')
        </if>
    </select>

</mapper>