<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.DicChangeWordsMapper">

    <select id="getDicChangeWords" resultType="com.kthcorp.cmts.model.DicChangeWords">
        /* getDicChangeWords */
        select
          idx, word, wordto, freq, regdate, regid
        from dic_change_words
    </select>

    <select id="getDicChangeWordsPaging" parameterType="com.kthcorp.cmts.model.DicChangeWords"
            resultType="com.kthcorp.cmts.model.DicChangeWords">
        /* getDicChangeWordsPaging */
        select
        idx, word, wordto, freq, regdate, regid
        from dic_change_words
        <if test='word != null and word != ""'>
            where word like concat('%',#{word},'%') or wordto like concat('%',#{word},'%')
        </if>
        <if test="orderby.equals('new')">
            order by regdate DESC, idx DESC
        </if>
        <if test="orderby.equals('abc')">
            order by word ASC, idx DESC
        </if>
        limit ${pageSize} offset ${offsetIdx}
    </select>

    <insert id="insDicChangeWords" parameterType="com.kthcorp.cmts.model.DicChangeWords" useGeneratedKeys="true" keyProperty="idx">
        /* insDicChangeWords */
        insert into dic_change_words (word, wordto, freq, regdate, regid)
        values (#{word}, #{wordto}, #{freq}, now() , #{regid})
    </insert>

    <update id="uptDicChangeWords" parameterType="com.kthcorp.cmts.model.DicChangeWords">
        /* uptDicChangeWords */
        update dic_change_words
          set
            regdate = now()
            ,regid = #{regid}
            <if test='word != null and word != ""'>
              , word = #{word}
            </if>
            <if test='wordto != null and wordto != ""'>
                , wordto = #{wordto}
            </if>
            <if test='freq != null and freq > 0'>
              , freq = #{freq}
            </if>
          where idx = #{idx}
    </update>

    <update id="uptDicChangeWordsByWord" parameterType="com.kthcorp.cmts.model.DicChangeWords">
        /* uptDicChangeWordsByWord */
        update dic_change_words
        set
        regdate = now()
        ,regid = #{regid}
        <if test='word != null and word != ""'>
            , word = #{word}
        </if>
        <if test='wordto != null and wordto != ""'>
            , wordto = #{wordto}
        </if>
        <if test='freq != null and freq > 0'>
            , freq = #{freq}
        </if>
        where word = #{oldword}
    </update>

    <delete id="delDicChangeWordsByWord" parameterType="com.kthcorp.cmts.model.DicChangeWords">
        /* delDicChangeWordsByWord */
        delete from dic_change_words
        where word = #{oldword}
    </delete>

    <select id="countItems" parameterType="com.kthcorp.cmts.model.DicChangeWords"
            resultType="Integer">
        /* countItems */
        select count(*)
        from dic_change_words
        <if test='word != null and word != ""'>
            where word like concat('%',#{word},'%') or wordto like concat('%',#{word},'%')
        </if>
    </select>

</mapper>