<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.DicKeywordsMapper">

    <select id="getDicKeywordsList" resultType="com.kthcorp.cmts.model.DicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* getDicKeywordsList */
        select
          idx, type, keyword, ratio, regdate, regid
        from dic_keywords
        where type = #{type}
    </select>

    <select id="getDicKeywordsPaging" resultType="com.kthcorp.cmts.model.DicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* getDicKeywordsPaging */
        select
        idx, type, keyword, ratio, regdate, regid
        from dic_keywords
        where type = #{type}
        <if test='keyword != null and keyword != ""'>
            and keyword like concat('%',#{keyword},'%')
        </if>
        order by regdate DESC, idx DESC
        limit ${pageSize} offset ${offsetIdx}
    </select>

    <select id="getDicRankKeywordsPaging" resultType="com.kthcorp.cmts.model.DicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
      /* getDicRankKeywordsPaging */
        select
        idx, type, keyword, ratio, regdate, regid, freq1
        from dic_keywords
        where type = #{type}
        <if test='keyword != null and keyword != ""'>
            and keyword like concat('%',#{keyword},'%')
        </if>
        order by freq1 DESC, idx DESC
        limit ${pageSize} offset ${offsetIdx}
    </select>

    <select id="getRankWordsByGenreAndType" resultType="com.kthcorp.cmts.model.DicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* getRankWordsByGenreAndType */
        select genre, mtype as type, keyword, freq2, regdate
        from dic_rank_words2
        where genre = #{genre} and mtype = #{type}
        order by freq2 desc, idx desc

    </select>

    <select id="getDicRankKeywordsPaging_" resultType="com.kthcorp.cmts.model.DicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* getDicRankKeywordsPaging_ */
        select
        idx, mtype as type, keyword, freq2 as cnt, regdate
        from dic_rank_words2
        where mtype = #{type}
        <if test='keyword != null and keyword != ""'>
            and keyword like concat('%',#{keyword},'%')
        </if>
        order by freq2 DESC, idx DESC
        limit ${pageSize} offset ${offsetIdx}
    </select>

    <select id="cntDicKeywordsByType" resultType="java.lang.Integer" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* cntDicKeywordsByType */
        select
        count(*) as cnt
        from dic_keywords
        where type = #{type}
        <if test='keyword != null and keyword != ""'>
            and keyword like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="getDicKeywords" resultType="com.kthcorp.cmts.model.DicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* getDicKeywordsList */
        select
        idx, type, keyword, ratio, regdate, regid
        from dic_keywords
        where type = #{type} and keyword = #{keyword}
    </select>

    <select id="getDicKeywordsListAll" resultType="com.kthcorp.cmts.model.DicKeywords">
      /* getDicKeywordsListAll */
        select
        idx, type, keyword, ratio, regdate, regid
        from dic_keywords
        order by type asc, ratio desc
    </select>

    <select id="getKeywordTypes" resultType="String">
        select type from dic_keywords group by type
    </select>

    <select id="countItems" resultType="Integer" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* countItems */
        select count(*)
        from dic_keywords
        where type = #{type}
        <if test='keyword != null and keyword != ""'>
            and keyword like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="countDicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords" resultType="java.lang.Integer">
        /* countDicKeywords */
        select count(*) from dic_keywords where keyword = #{keyword}
    </select>

    <insert id="insDicNotMapKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* intDicNotMapKeywords */
        insert into dic_notmap_keywords (type, keyword, ratio, regdate, regid)
        values (#{type}, #{keyword}, #{ratio} , now(), #{regid})
        ON DUPLICATE KEY UPDATE regdate = now()
    </insert>

    <insert id="insDicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
      /* insDicKeywords */
        insert into dic_keywords (type, keyword, ratio, regdate, regid)
        values (#{type}, #{keyword}, #{ratio} , now(), #{regid});
    </insert>
    <select id="getDicNotMapKeywords" resultType="com.kthcorp.cmts.model.DicKeywords">
        /* getDicNotMapKeywords */
        select type,keyword,ratio,regdate,regid
        FROM dic_notmap_keywords
        order by regdate desc
    </select>


    <update id="uptDicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
      /* uptDicKeywords */
        update dic_keywords
            set regdate = now()
            ,regid = #{regid}
            <if test='keyword != null and keyword != ""'>
                , keyword = #{keyword}
            </if>
            <if test='ratio != null and ratio > 0'>
                , ratio = #{ratio}
            </if>
        where type = #{type} and keyword = #{oldword}
    </update>

    <update id="uptDicKeywords2" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* uptDicKeywords2 */
        update dic_keywords
        set procdate = now(), freq1 = #{freq1}
        where idx = #{idx}
    </update>

    <delete id="delDicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* delDicKeywords  */
        delete from dic_keywords
        where type = #{type} and keyword = #{oldword}
    </delete>


    <select id="getDicGenreKeywordsByGenre" parameterType="java.lang.String" resultType="com.kthcorp.cmts.model.DicGenreWords">
        /* getDicGenreKeywordsByGenre */
        select idx, genre, word, regdate, regid
        from dic_genre_words
        where genre = #{genre}
    </select>

    <select id="cntTagsMetasByDicKeywords" parameterType="com.kthcorp.cmts.model.DicKeywords" resultType="java.lang.Integer">
        /* cntTagsMetasByDicKeywords */
        select count(*) as cnt
        from items_tags_metas itm
        inner join items_tags_keys itk on itk.idx = itm.idx and itk.tagidx = itm.tagidx and itk.stat = 'S'
        where itm.mtype = #{type} and itm.meta like concat('%"',#{keyword},'",%');
    </select>

    <select id="cntTagsMetasByDicKeywordsAndGenre" parameterType="com.kthcorp.cmts.model.DicKeywords"
            resultType="com.kthcorp.cmts.model.DicKeywords">
        /* cntTagsMetasByDicKeywordsAndGenre */
        select count(*) as cnt, itm.mtype as type
        from items_tags_metas itm
        inner join items_tags_keys itk on itk.idx = itm.idx and itk.tagidx = itm.tagidx and itk.stat = 'S'
        inner join items_metas im on im.idx = itm.idx and im.mtype = 'genre' and im.meta like concat('%',#{genre},'%')
        where itm.mtype like 'METAS%' and itm.meta like concat('%"',#{keyword},'",%')
        group by itm.mtype;
    </select>

    <insert id="insDicRankWords2" parameterType="com.kthcorp.cmts.model.DicKeywords">
        /* insDicRankWords2  */
        insert into dic_rank_words2(genre, mtype, keyword, freq2, regdate)
        values (#{genre}, #{type}, #{keyword}, #{cnt}, now())
        ON DUPLICATE KEY UPDATE freq2 = #{cnt}, regdate = now()
    </insert>

    <select id="getRankOfDicKeywordsFreq1" parameterType="com.kthcorp.cmts.model.DicKeywords"
            resultType="com.kthcorp.cmts.model.DicKeywords">
        /* getRankOfDicKeywordsFreq1 */
        select * from dic_keywords
        where type = #{type}
        order by freq1 desc
        limit 500
    </select>

    <insert id="insDicSubgenreGenres" parameterType="com.kthcorp.cmts.model.DicSubgenre">
        /* insDicSubgenreGenres */
        insert into dic_subgenre_genres (mtype, genre, meta, regid, regdate)
        values (#{mtype}, #{genre}, #{meta}, #{regid}, now())
        ON DUPLICATE KEY UPDATE genre = #{genre}, meta = #{meta}, regid = #{regid}, regdate = now()
    </insert>

    <select id="getDicSubgenreGenres" resultType="com.kthcorp.cmts.model.DicSubgenre" parameterType="java.lang.String">
        /* getDicSubgenreGenres */
        select idx, mtype, genre, meta, regid, regdate
        from dic_subgenre_genres
        where mtype = #{value}
            <if test='value != "origin"'>
            or mtype = 'rating'
            </if>
    </select>

    <select id="getResultTags" parameterType="map" resultType="map">
        /* getResultTags */
        select * from dic_result_tag_keywords
        where mtype = #{mtype} and word = #{word}
        order by regdate desc
        limit 1
    </select>

    <select id="getResultTagsList" resultType="map">
        /* getResultTagsList */
        select concat(mtype, '_', word) as key1, word, wordto, wordadd, worddel from dic_result_tag_keywords
        order by mtype asc, regdate desc

    </select>
</mapper>