<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.DicNotuseWordsMapper">

    <select id="getDicNotuseWords" resultType="com.kthcorp.cmts.model.DicNotuseWords">
        /* getDicNotuseWords */
        select
          idx, word, freq, regdate, regid
        from dic_notuse_words
    </select>

    <select id="getDicNotuseWordsPaging" parameterType="com.kthcorp.cmts.model.DicNotuseWords"
            resultType="com.kthcorp.cmts.model.DicNotuseWords">
        /* getDicNotuseWordsPaging */
        select
        idx, word, freq, regdate, regid
        from dic_notuse_words
        <if test='word != null and word != ""'>
            where word like concat('%',#{word},'%')
        </if>
        <if test="orderby.equals('new')">
            order by regdate DESC, idx DESC
        </if>
        <if test="orderby.equals('abc')">
            order by word ASC, idx DESC
        </if>
        limit ${pageSize} offset ${offsetIdx}
    </select>

    <insert id="insDicNotuseWords" parameterType="com.kthcorp.cmts.model.DicNotuseWords" useGeneratedKeys="true" keyProperty="idx">
        /* insDicNotuseWords */
        insert into dic_notuse_words (word, freq, regdate, regid)
        values (#{word}, #{freq}, now(), #{regid})
    </insert>

    <update id="uptDicNotuseWords" parameterType="com.kthcorp.cmts.model.DicNotuseWords">
        /* uptDicNotuseWords */
        update dic_notuse_words
          set
            regdate = now()
            ,regid = #{regid}
            <if test='word != null and word != ""'>
              , word = #{word}
            </if>
            <if test='freq != null and freq > 0'>
              , freq = #{freq}
            </if>
          where idx = #{idx}
    </update>

    <update id="uptDicNotuseWordsByWord" parameterType="com.kthcorp.cmts.model.DicNotuseWords">
        /* uptDicNotuseWordsByWord */
        update dic_notuse_words
        set
        regdate = now()
        ,regid = #{regid}
        <if test='word != null and word != ""'>
            , word = #{word}
        </if>
        <if test='freq != null and freq > 0'>
            , freq = #{freq}
        </if>
        where word = #{oldword}
    </update>

    <delete id="delDicNotuseWordsByWord" parameterType="com.kthcorp.cmts.model.DicNotuseWords">
        /* delDicNotuseWordsByWord */
        delete from dic_notuse_words
        where word = #{oldword}
    </delete>

    <select id="countItems" resultType="Integer" parameterType="com.kthcorp.cmts.model.DicNotuseWords">
        /* countItems */
        select count(*)
        from dic_notuse_words
        <if test='word != null and word != ""'>
            where word like concat('%',#{word},'%')
        </if>
    </select>

	<delete id="delDicNotuseWords">
		DELETE
		FROM
			dic_notuse_words
	</delete>
	
	<insert id="importDicNotuseWords" parameterType="com.kthcorp.cmts.model.DicNotuseWords">
		LOAD DATA LOCAL INFILE #{fileName}
		ignore
		INTO TABLE `dic_notuse_words`
		CHARACTER SET euckr
		COLUMNS TERMINATED BY ','
		ENCLOSED BY '"'
		LINES TERMINATED BY '\n'
		IGNORE 1 LINES
		(@col1)
		set
			word=@col1,
			regdate=now(),
			regid=''	-- ?
	</insert>

    <delete id="cleanBlankDicNotuseWords">
		delete
		from
			dic_notuse_words
		where
			trim(replace(replace(word,'\r',''),'\n',''))=''
    </delete>
     

</mapper>