<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.ItemsMetasMapper">

    <select id="getItemsMetas" resultType="ItemsMetas">
        /* getMetas */
        select
          idx, mtype, meta, regdate, regid
        from items_metas
        where idx = #{idx} and mtype = #{mtype}
    </select>

    <select id="getItemsMetasByIdx" resultType="ItemsMetas" parameterType="ItemsMetas">
        /* getItemsMetasByIdx */
        select
        idx, mtype, meta, regdate, regid
        from items_metas
        where idx = #{idx}
        order by mtype asc
    </select>

    <insert id="insItemsMetas" parameterType="ItemsMetas">
        /* insItemsMetas */
        insert into items_metas
          (idx, mtype, meta, regdate, regid)
        values
          (#{idx}, #{mtype}, #{meta}, now(), #{regid})
        ON DUPLICATE KEY UPDATE meta = #{meta}, regid = #{regid}, regdate = now()
    </insert>


</mapper>