<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.ItemsSchedMappingMapper">

    <insert id="insItemsSchedMapping" parameterType="com.kthcorp.cmts.model.ItemsSchedMapping">
        /* insItemsSchedMapping */
        insert into items_sched_mapping
          (idx, sc_id)
        values
          (#{idx}, #{sc_id})
    </insert>

    <delete id="delItemsSchedMapping" parameterType="com.kthcorp.cmts.model.ItemsSchedMapping">
        /* delItemsSchedMapping */
        delete from items_sched_mapping where idx = #{idx}
    </delete>

    <select id="getItemIdxByScid" parameterType="com.kthcorp.cmts.model.ItemsSchedMapping" resultType="java.lang.Integer">
        /* getItemIdxByScid */
        select idx from items_sched_mapping
        where sc_id = #{sc_id}
        limit 1;
    </select>
</mapper>