<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.ItemsMapper">
    <cache eviction="LRU" flushInterval="2000" size="128" readOnly="true"/>

    <resultMap id="Items" type="com.kthcorp.cmts.model.Items">
        <id property="idx" column="idx" />
        <result property="cid" column="cid" />
        <result property="type" column="type" />
        <result property="title" column="title" />
        <result property="title1" column="title1" />
        <result property="title2" column="title2" />
        <result property="regdate" column="regdate" />
        <result property="regdate1" column="regdate1" />
        <result property="regdate2" column="regdate2" />
        <result property="regid" column="regid" />
        <result property="stat" column="stat" />
        <result property="director" column="director" />
        <result property="year" column="year" />
        <result property="kt_rating" column="kt_rating" />
        <result property="genre" column="genre" />
        <result property="corigin" column="corigin" />
        <result property="sorigin" column="sorigin" />

        <collection property="metaList" column="idx" ofType="com.kthcorp.cmts.model.ItemsMetas"
                    javaType="ArrayList" resultMap="ItemsMetas"/>
        <collection property="schedList" column="sc_id" ofType="com.kthcorp.cmts.model.SchedTrigger"
                    javaType="ArrayList" resultMap="SchedTrigger"/>
    </resultMap>

    <resultMap id="ItemsMetas" type="com.kthcorp.cmts.model.ItemsMetas">
        <id property="idx" column="idx" />
        <result property="mtype" column="mtype" />
        <result property="meta" column="meta" />
    </resultMap>

    <resultMap id="SchedTrigger" type="com.kthcorp.cmts.model.SchedTrigger">
        <id property="sc_id" column="sc_id" />
    </resultMap>


    <select id="getItems" resultType="com.kthcorp.cmts.model.Items">
        /* getItems */
        select
          idx, type, cid, title, title1, title2,
          regdate, regdate1, regdate2, regid, stat, director, year
        from items
    </select>

    <select id="getPagedItems" resultType="com.kthcorp.cmts.model.Items" parameterType="com.kthcorp.cmts.model.Items">
        /* getPagedItems */
        select
        idx, type, cid, title, title1, title2,
        regdate, regdate1, regdate2, regid, stat, director, year
        from items
        <where>
            stat  != 'D'
            <if test='cid != null and cid != ""'>
                AND cid = #{cid}
            </if>
            <if test='type != null and type != ""'>
                AND type = #{type}
            </if>
            <if test='title != null and title != ""'>
                AND (title like CONCAT('%',#{title},'%') OR title1 like CONCAT('%',#{title},'%') )
            </if>
        </where>
        order by regdate desc, idx desc
        limit ${pageSize} offset ${offsetIdx}
    </select>

    <select id="getItemsByIdx" resultMap="Items" parameterType="com.kthcorp.cmts.model.Items">
        /* getItemsByIdx */
        select
            t.idx, t.type, t.cid, t.title, t.title1, t.title2,
            t.regdate, t.regdate1, t.regdate2, t.regid, t.stat, t.director, t.year,
            m.mtype, m.meta
        from items t
        /* LEFT JOIN items_metas_mapping tm on tm.idx = t.idx */
        LEFT JOIN items_metas m on m.idx = t.idx
        where t.idx = #{idx}

    </select>

    <select id="getItemsInfoByIdx" resultMap="Items" parameterType="java.lang.Integer">
        /* getItemsInfoByIdx */
        select
        t.idx, t.type, t.cid, t.title, t.title1, t.title2,
        t.regdate, t.regdate1, t.regdate2, t.regid, t.stat, t.director, t.year,
        t.duration, t.tagcnt
        , ( select kt_rating from ccube_contents where content_id = t.cid order by regdate desc limit 1 ) as kt_rating
        , ( select meta from items_metas where idx = t.idx and mtype = 'genre' ) as genre
        , ( select country_of_origin from ccube_contents where content_id = t.cid order by regdate desc limit 1 ) as corigin
        , ( select country_of_origin from ccube_series where series_id = t.cid order by regdate desc limit 1 ) as sorigin
        from items t
        where t.idx = #{idx}
    </select>

    <select id="countItems" resultType="Integer" parameterType="com.kthcorp.cmts.model.Items" useCache="true">
        /* countItems */
        select count(*)
        from items
        <where>
            stat  != 'D'
            <if test='cid != null and cid != ""'>
                AND cid = #{cid}
            </if>
            <if test='type != null and type != ""'>
                AND type = #{type}
            </if>
            <if test='title != null and title != ""'>
                AND (title like CONCAT('%',#{title},'%') OR title1 like CONCAT('%',#{title},'%') )
            </if>
        </where>

    </select>

    <insert id="insItems" parameterType="com.kthcorp.cmts.model.Items" useGeneratedKeys="true" keyProperty="idx">
        /* insItems */
        insert into items
          (type, cid, title, title1, title2,
            regdate, regdate1, regdate2, regid, stat, director, year)
        values
          (#{type}, #{cid}, #{title}, #{title1}, #{title2},
          now(), now(), #{regdate2}, #{regid}, #{stat}, #{director}, #{year} )
    </insert>

    <delete id="delItems" parameterType="com.kthcorp.cmts.model.Items">
        /* delItems */
        delete from items where idx = #{idx}
    </delete>


    <update id="uptItems" parameterType="com.kthcorp.cmts.model.Items">
        /* uptItems */
        update items
        set
        regid = #{regid}
        <if test='title != null and title != ""'>
            , title = #{title}
        </if>
        <if test='title1 != null and title1 != ""'>
            , title1 = #{title1}
        </if>
        <if test='title2 != null and title2 != ""'>
            , title2 = #{title2}
        </if>
        <if test='regdate2 != null and regdate2 != ""'>
            , regdate2 = #{regdate2}
        </if>
        <if test='stat != null and stat != ""'>
            , stat = #{stat}
        </if>
        where idx = #{idx}
    </update>

    <select id="getItemsContent" resultType="com.kthcorp.cmts.model.ItemsContent">
        /* getItemsContent */
        select it.title, it.title2, it.regdate
        , ( select stc.content from sched_target_content stc where stc.sc_id = sc.sc_id and content != '' order by regdate desc limit 1) as content
        #, stc.content
        from items it
        inner join items_sched_mapping ism on ism.idx = it.idx
        inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type = 'R'
        where it.idx <![CDATA[ > ]]> 129 and it.idx <![CDATA[ < ]]> 230
        and it.stat != 'D' and it.title2 != ''

        #inner join sched_target_content stc on stc.sc_id = sc.sc_id
        #where it.regdate <![CDATA[ > ]]> '2017-12-22 00:00:00'

    </select>

    <select id="getItemsCine21Second520" resultType="com.kthcorp.cmts.model.ItemsContent">
        /* getItemsCine21Second520 */
        select it.title, it.title2, stc.content from items it
        inner join items_sched_mapping ism on ism.idx = it.idx
        inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type = 'A'
        #inner join sched_target_mapping_hist stmh on stmh.sc_id = sc.sc_id
        inner join sched_target_content stc on stc.sc_id = sc.sc_id
        #and stc.stmh_id = stmh.stmh_id
        where it.regdate <![CDATA[ > ]]> '2018-01-12 00:00:00' and it.idx <![CDATA[ < ]]> 2438;
    </select>


    <select id="getItemsCine21SecondFor10AndContentall" resultType="com.kthcorp.cmts.model.ItemsContent">
        /* getItemsCine21SecondFor10AndContentall */
        select ism.sc_id, it.title, it.title2, stc.content
        from items it
        inner join items_sched_mapping ism on ism.idx = it.idx
        inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type = 'A' and sc.stat ='S'
        #inner join sched_target_mapping_hist stmh on stmh.sc_id = sc.sc_id
        inner join sched_target_content stc on stc.sc_id = sc.sc_id
        #and stc.stmh_id = stmh.stmh_id
        where it.idx <![CDATA[ >= ]]> 2550 and it.idx <![CDATA[ <= ]]> 2560

    </select>


    <select id="getItemsYj01by01_bak_yj1_250" resultType="com.kthcorp.cmts.model.ItemsContent">
        /* getItemsYj01by01 */
        select it.idx,ism.sc_id, it.title, it.title2, stc.content
    ,stmh.tcnt
    , (select yj_id from in_items where purity_title = it.title order by idx desc limit 1) as cid
        from items it
        inner join items_sched_mapping ism on ism.idx = it.idx
        inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type = 'A' and sc.stat ='S'
        inner join sched_target_mapping_hist stmh on stmh.sc_id = sc.sc_id and stmh.tcnt = sc.tcnt
        inner join sched_target_content stc on stc.sc_id = sc.sc_id and length(stc.content)  <![CDATA[ > ]]>  200
        and stc.stmh_id = stmh.stmh_id
        /*where it.idx <![CDATA[ >= ]]> 3568 and it.idx <![CDATA[ <= ]]> 3588 */
        where it.idx <![CDATA[ >= ]]> 3568 and it.type = 'yj1'
        /*and it.idx not in ( select idx from yj_items_out ) */
        order by it.idx ASC
        limit 250
        /*and it.idx <![CDATA[ <= ]]> 4167 */

    </select>


    <select id="getItemsYj01by01" resultType="com.kthcorp.cmts.model.ItemsContent">
        /* getItemsYj01by02_for_yj2_yj22_500 */
        select it.idx,ism.sc_id, it.title, it.title2, stc.content
        ,stmh.tcnt
        , (select yj_id from in_items
        where purity_title = it.title
        and year = it.year
        and director = it.director
        order by idx desc limit 1) as cid
        from items it
        inner join items_sched_mapping ism on ism.idx = it.idx
        inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type = 'A' and sc.stat ='S' and sc.regdate > '2018-02-01 23:30:00'
        inner join sched_target_mapping_hist stmh on stmh.sc_id = sc.sc_id and stmh.tcnt = sc.tcnt
        inner join sched_target_content stc on stc.sc_id = sc.sc_id and length(stc.content) >  200
        and stc.stmh_id = stmh.stmh_id
        /*where it.idx <![CDATA[ >= ]]> 3568 and it.idx <![CDATA[ <= ]]> 3588 */
        where it.type in ('yj','yj1','yj22', 'yj3')
        /* where it.idx <![CDATA[ >= ]]> 3568 and it.type in ('yj2','yj22') */
        and it.idx not in ( select idx from yj_items_out )
        order by it.idx ASC
        limit 4000;

    </select>

    <select id="getItemsYj04" resultType="com.kthcorp.cmts.model.ItemsContent">
        /* getItemsYj04 */
        select it.idx,ism.sc_id, it.title, it.title2, stc.content
        ,stmh.tcnt
        , (select yj_id from in_items
        where purity_title = it.title
        and year = it.year
        and director = it.director
        order by idx desc limit 1) as cid
        from items it
        inner join items_sched_mapping ism on ism.idx = it.idx
        inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type = 'A' and sc.stat ='S' and sc.regdate <![CDATA[ > ]]> '2018-02-20 00:00:00'
        inner join sched_target_mapping_hist stmh on stmh.sc_id = sc.sc_id and stmh.tcnt = sc.tcnt
        inner join sched_target_content stc on stc.sc_id = sc.sc_id and length(stc.content)  <![CDATA[ > ]]>  200
        and stc.stmh_id = stmh.stmh_id
        where it.type in ('yj4')
        and it.idx not in ( select idx from yj_items_out )
        and it.regdate <![CDATA[ > ]]> '2018-02-20 00:00:00'
        order by it.idx ASC

    </select>


    <select id="getItemsCine21" resultType="com.kthcorp.cmts.model.ItemsContent">
        /* getItemsCine21 */
        select movieNm as title, cineKeywords as content from movie_cine21
    </select>

    <select id="getMovieCine21ByTitle" resultType="com.kthcorp.cmts.model.ItemsContent" parameterType="java.lang.String">
        /* getMovieCine21ByTitle */
        select movieNm as title, cineKeywords as content from movie_cine21
        where title = #{title}
        order by idx DESC
        limit 1
    </select>


    <select id="getCollectSchedId" resultType="java.lang.Integer">
        /* getCollectSchedId */
        select sc3.sc_id
        from sched_trigger sc3
        where sc3.type = 'C' and sc3.stat = 'S' and sc3.sc_id in (
        select sc2.parent_sc_id as sc_id
        from sched_trigger sc2
        where sc2.type = 'R' and sc2.stat = 'S' and sc2.sc_id in (
        select sc.parent_sc_id as sc_id
        from sched_trigger sc
        where sc.type = 'A' and sc.stat = 'S' and sc.sc_id = #{sc_id}
        )
        )
    </select>

    <select id="getCollectContentList" resultType="com.kthcorp.cmts.model.ItemsContent" parameterType="java.lang.Integer">
        /* getCollectContentList */
        select stc.sc_id, stc.content
        from sched_target_content stc
        inner join sched_trigger sc on sc.sc_id = stc.sc_id and sc.type = 'C' and sc.stat = 'S'
        where stc.sc_id = #{sc_id}
    </select>

    <insert id="insYjItemsOut" parameterType="com.kthcorp.cmts.model.Items">
        /* insYjItemsOut */
        insert into yj_items_out (idx, yj_id, type, purity_title, regdate, stat)
        values (#{idx}, #{cid}, #{type}, #{title}, now(), 'Y')
    </insert>

    <insert id="insYjItemsOut2" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* insYjItemsOut2 */
        insert into yj_items_out2 (yj_id, type, purity_title, regdate, stat, title2)
        values (#{yj_id}, 'yc1', #{title}, now(), 'Y', #{title2})
    </insert>

    <insert id="insYjTagsMetas" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* insYjTagsMetas */
        insert into yj_tags_metas (title, title2, yj_id, mtype, meta, regdate)
        values
        (#{title}, #{title2}, #{yj_id}, #{mtype}, #{meta}, now());
    </insert>

    <select id="getYjidForInsert" parameterType="com.kthcorp.cmts.model.Items" resultType="com.kthcorp.cmts.model.Items">
        /* getYjidForInsert */
        select yj_id as cid from yj_items
        where
        title2 = #{title2}
        and yj_id not in ( select yj_id from yj_items_out2 )
        limit 1

    </select>




    <select id="searchItemsPaging" parameterType="com.kthcorp.cmts.model.Items" resultType="com.kthcorp.cmts.model.Items">
        /* searchItemsPaging 191125 x3 */
        select a.idx
        , CASE WHEN (cs.series_id is not null and cs.series_id != '0')
        THEN 'SER' ELSE ( select CASE WHEN (it.type = 'CcubeContentK') THEN 'KOR' ELSE 'OTH' END AS type ) END AS type
        , it.regdate1 as regdate
        , IFNULL( IFNULL(cc.CONTENT_TITLE,cs.PURITY_TITLE),title) as title, it.regdate as procdate, it.regid, it.director, it.year, it.tagcnt, it.duration , a.stat
        ,ifnull(cs.series_id, '0') as series_id
        ,ifnull(cc.master_content_id,'0') as content_id
        ,ifnull(cs.series_id, '0') as sorigin
        ,ifnull(cc.content_id,'0') as corigin
        from
        (	select j.* from
        (
        (
        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            select p.* from (
        </if>
        select it.idx, iss.stat, it.regdate

        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            , case when (it.type = 'CcubeContent' or it.type = 'CcubeContentK') then cc.content_id ELSE cs.series_id END AS cid
        </if>
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat not in ('RC', 'RR', 'RA', 'SC', 'SR', 'CT')
        <if test='searchStat != null and searchStat != "ALL" and searchStat != "FA"'>
            and iss.stat = #{searchStat}
        </if>
        <if test='searchStat != null and searchStat == "FA"'>
            and iss.stat in ('FR', 'FA')
        </if>
        <if test='searchMetasYn != null and searchMetasYn == "Y"'>
            inner join (
            select distinct(idx) as idx from items_metas where mtype in
            <foreach item="item1" index="index" collection="searchMetasArr"
                     open="(" separator="," close=")">
                #{item1}
            </foreach>
            and meta like concat('%',#{searchKeyword},'%')
            ) imm on imm.idx = it.idx
        </if>

        <if test='searchTagsYn != null and searchTagsYn == "Y" and searchTagsArr != null'>

        left outer join (
        select t.* from (
        select tk.idx, tk.tagidx
        , ( select max(tagidx) from items_tags_keys where idx = tk.idx ) as maxTagIdx
        from items_tags_keys tk
        where tk.stat = 'S'
        ) t where t.tagidx = t.maxTagIdx
        ) itk on itk.idx = it.idx

        inner join (
        select distinct(idx) as idx, tagidx from items_tags_metas where mtype in
            <foreach item="item2" index="index" collection="searchTagsArr"
                     open="(" separator="," close=")">
                #{item2}
            </foreach>
        and meta like concat('%',#{searchKeyword},'%')
        ) itm on itm.idx = it.idx and itm.tagidx = itk.tagidx
        </if>
        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
        left outer join ( select distinct(content_id) from ccube_contents where actors_display like concat('%',#{searchKeyword},'%') ) cc on cc.content_id = it.cid
        left outer join ( select distinct(series_id) from ccube_series where actors_display like concat('%',#{searchKeyword},'%') ) cs on cs.series_id = it.cid
        </if>

        inner join ccube_keys ck on ck.itemidx = it.idx and (it.cid = ck.content_id or it.cid = ck.series_id)
        where it.regdate1 between concat(#{searchSdate}, ' 00:00:00') and concat(#{searchEdate}, ' 23:59:59')
        and it.stat != 'M'

        <if test='searchType != null and searchType == "KOR"'>
            and it.type = 'CcubeContentK'
        </if>
        <if test='searchType != null and searchType == "OTH"'>
            and it.type = 'CcubeContent'
        </if>
        <if test='searchType != null and searchType == "SER"'>
            and it.type = 'CcubeSeries'
        </if>
        <if test='searchDirectorYn != null and searchDirectorYn != ""'>
            and it.director like CONCAT('%', #{searchKeyword} '%')
        </if>

        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            ) p where p.cid is not null
            order by p.regdate desc, p.idx desc
        </if>

        <if test='searchActorsYn == null or searchActorsYn != "Y"'>
            order by it.regdate1 desc, it.idx desc
        </if>

        )

        ) j
        order by j.regdate desc, j.idx desc
        ) a
        inner join items it on it.idx = a.idx
        left outer join ccube_contents cc on cc.content_id = it.cid
        left outer join ccube_series cs on cs.series_id = it.cid
        <!--
        inner join (select idx,regid,tagidx from items_tags_metas group by idx,tagidx) im on im.idx = a.idx and im.tagidx = (select max(z.tagidx) from items_tags_metas z where z.idx=it.idx)
        -->
        <if test='searchTitleYn == "Y"'>
            where IFNULL( IFNULL(cc.CONTENT_TITLE,cs.PURITY_TITLE),title) like CONCAT('%',#{searchKeyword},'%')
        </if>
        order by a.regdate desc, a.idx desc limit ${pageSize} offset ${offsetIdx}
    </select>

    <select id="searchItemsPagingByStatDate" parameterType="com.kthcorp.cmts.model.Items" resultType="com.kthcorp.cmts.model.Items">
        /* searchItemsPagingByStatDate */
        select a.idx
        , CASE WHEN (cs.series_id is not null and cs.series_id != '0')
        THEN 'SER' ELSE ( select CASE WHEN (it.type = 'CcubeContentK') THEN 'KOR' ELSE 'OTH' END AS type ) END AS type
        , it.regdate1 as regdate
        , it.title, it.regdate as procdate, im.regid, it.director, it.year, it.tagcnt, it.duration , a.stat
        ,ifnull(cs.series_id, '0') as series_id
        ,ifnull(cc.master_content_id,'0') as content_id
        from
        (	select j.* from
        (
        (
        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            select p.* from (
        </if>
        select it.idx, iss.stat, iss.regdate

        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            , case when (it.type = 'CcubeContent' or it.type = 'CcubeContentK') then cc.content_id ELSE cs.series_id END AS cid
        </if>
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat not in ('RC', 'RR', 'RA', 'SC', 'SR', 'CT')
        <if test='searchStat != null and searchStat != "ALL" and searchStat != "FA"'>
            and iss.stat = #{searchStat}
        </if>
        <if test='searchStat != null and searchStat == "FA"'>
            and iss.stat in ('FR', 'FA')
        </if>

        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            left outer join ( select distinct(content_id) from ccube_contents where actors_display like concat('%',#{searchKeyword},'%') ) cc on cc.content_id = it.cid
            left outer join ( select distinct(series_id) from ccube_series where actors_display like concat('%',#{searchKeyword},'%') ) cs on cs.series_id = it.cid
        </if>

        inner join ccube_keys ck on ck.itemidx = it.idx and (it.cid = ck.content_id or it.cid = ck.series_id)
        where iss.regdate between concat(#{searchSdate}, ' 00:00:00') and concat(#{searchEdate}, ' 23:59:59')

        order by iss.regdate desc, iss.idx desc

        )

        ) j
        order by j.regdate desc, j.idx desc
        ) a
        inner join items it on it.idx = a.idx
        left outer join ccube_contents cc on cc.content_id = it.cid
        left outer join ccube_series cs on cs.series_id = it.cid
        inner join items_metas im on im.idx = a.idx
        order by a.regdate desc, a.idx desc limit ${pageSize} offset ${offsetIdx}
    </select>

    <select id="countListItemsPaging" parameterType="java.util.Map" resultType="java.lang.Integer" >
        /* countListItemsPaging */
        select count(*) as cnt
        from
        (	select j.* from
        (
        (
        <if test='items[0].searchActorsYn != null and items[0].searchActorsYn == "Y"'>
            select p.* from (
        </if>
        select it.idx, iss.stat, it.regdate
        <if test='items[0].searchActorsYn != null and items[0].searchActorsYn == "Y"'>
            , case when (it.type = 'CcubeContent' or it.type = 'CcubeContentK') then cc.content_id ELSE cs.series_id END AS cid
        </if>
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat not in ('RC', 'RR', 'RA', 'SC', 'SR', 'CT')

        <foreach item="item" index="index" collection="items">
            <if test='item.searchStat != null and item.searchStat != "ALL" and item.searchStat != "FA"'>
                and iss.stat = #{item.searchStat}
            </if>
            <if test='item.searchStat != null and item.searchStat == "FA"'>
                and iss.stat in ('FR', 'FA')
            </if>
            <if test='item.searchMetasYn != null and item.searchMetasYn == "Y"'>
                inner join (
                select distinct(idx) as idx from items_metas where mtype in
                <foreach item="item1" index="index1" collection="item.searchMetasArr"
                         open="(" separator="," close=")">
                    #{item1}
                </foreach>
                and meta like concat('%',#{item.searchKeyword},'%')
                ) imm${index} on imm${index}.idx = it.idx
            </if>
        </foreach>


        left outer join (
        select t.* from (
        select tk.idx, tk.tagidx
        , ( select max(tagidx) from items_tags_keys where idx = tk.idx ) as maxTagIdx
        from items_tags_keys tk
        where tk.stat = 'S'
        ) t where t.tagidx = t.maxTagIdx
        ) itk on itk.idx = it.idx

        inner join (
        select distinct(idx) as idx, tagidx from items_tags_metas where
        1=1
        <foreach item="item" index="indexs" collection="items">
            <if test='item.searchTagsYn != null and item.searchTagsYn == "Y" and item.searchTagsArr != null'>
                and mtype in
                <foreach item="item2" index="index" collection="item.searchTagsArr"
                         open="(" separator="," close=")">
                    #{item2}
                </foreach>
                and meta like concat('%',#{item.searchKeyword},'%')
            </if>
        </foreach>
        ) itm on itm.idx = it.idx and itm.tagidx = itk.tagidx

        left outer join ( select distinct(content_id) from ccube_contents where 1=1
        <foreach item="item" index="index" collection="items">
            <if test='item.searchActorsYn != null and item.searchActorsYn == "Y"'>
                and actors_display like concat('%',#{item.searchKeyword},'%')
            </if>
        </foreach>
        ) cc on cc.content_id = it.cid
        left outer join ( select distinct(series_id) from ccube_series where 1=1
        <foreach item="item" index="index" collection="items">
            <if test='item.searchActorsYn != null and item.searchActorsYn == "Y"'>
                and  actors_display like concat('%',#{item.searchKeyword},'%')
            </if>
        </foreach>
        ) cs on cs.series_id = it.cid

        inner join ccube_keys ck on ck.itemidx = it.idx and (it.cid = ck.content_id or it.cid = ck.series_id)
        where  1=1
        <foreach item="item" index="index" collection="items">
            and it.regdate1  between concat(#{item.searchSdate}, ' 00:00:00') and concat(#{item.searchEdate}, ' 23:59:59')
        </foreach>
        and it.stat != 'M'

        <if test='searchType != null and searchType == "KOR"'>
            and it.type = 'CcubeContentK'
        </if>
        <if test='searchType != null and searchType == "OTH"'>
            and it.type = 'CcubeContent'
        </if>
        <if test='searchType != null and searchType == "SER"'>
            and it.type = 'CcubeSeries'
        </if>
        <foreach item="item" index="index" collection="items">
            <if test='item.searchDirectorYn != null and item.searchDirectorYn != "" and item.searchKeyword!="" '>
                and it.director like CONCAT('%', #{item.searchKeyword} '%')
            </if>
        </foreach>

        <if test='items[0].searchActorsYn != null and items[0].searchActorsYn == "Y"'>
            ) p where p.cid is not null
            order by p.regdate desc, p.idx desc
        </if>

        <if test='items[0].searchActorsYn == null or items[0].searchActorsYn != "Y"'>
            order by it.regdate1 desc, it.idx desc
        </if>

        )

        ) j
        order by j.regdate desc, j.idx desc
        ) a
        inner join items it on it.idx = a.idx
        left outer join ccube_contents cc on cc.content_id = it.cid
        left outer join ccube_series cs on cs.series_id = it.cid
        <!--
        inner join (select idx,regid,tagidx from items_tags_metas group by idx,tagidx) im on im.idx = a.idx and im.tagidx = (select max(z.tagidx) from items_tags_metas z where z.idx=it.idx)
        -->
        where 1=1
        <foreach item="item" index="index" collection="items">
            <if test='item.searchTitleYn == "Y" and item.searchKeyword!=""'>
                and IFNULL( IFNULL(cc.CONTENT_TITLE,cs.PURITY_TITLE),title) like CONCAT('%',#{item.searchKeyword},'%')
            </if>
        </foreach>
    </select>

    <select id="searchListItemsPaging" parameterType="java.util.Map" resultType="com.kthcorp.cmts.model.Items">
        /* searchListItemsPaging */
        select a.idx
        , CASE WHEN (cs.series_id is not null and cs.series_id != '0')
        THEN 'SER' ELSE ( select CASE WHEN (it.type = 'CcubeContentK') THEN 'KOR' ELSE 'OTH' END AS type ) END AS type
        , it.regdate1 as regdate
        , IFNULL( IFNULL(cc.CONTENT_TITLE,cs.PURITY_TITLE),title) as title, it.regdate as procdate, it.regid, it.director, it.year, it.tagcnt, it.duration , a.stat
        ,ifnull(cs.series_id, '0') as series_id
        ,ifnull(cc.master_content_id,'0') as content_id
        ,ifnull(cs.series_id, '0') as sorigin
        ,ifnull(cc.content_id,'0') as corigin
        from
        (	select j.* from
        (
        (
        <if test='items[0].searchActorsYn != null and items[0].searchActorsYn == "Y"'>
            select p.* from (
        </if>
        select it.idx, iss.stat, it.regdate
        <if test='items[0].searchActorsYn != null and items[0].searchActorsYn == "Y"'>
            , case when (it.type = 'CcubeContent' or it.type = 'CcubeContentK') then cc.content_id ELSE cs.series_id END AS cid
        </if>
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat not in ('RC', 'RR', 'RA', 'SC', 'SR', 'CT')

        <foreach item="item" index="index" collection="items">
            <if test='item.searchStat != null and item.searchStat != "ALL" and item.searchStat != "FA"'>
                and iss.stat = #{item.searchStat}
            </if>
            <if test='item.searchStat != null and item.searchStat == "FA"'>
                and iss.stat in ('FR', 'FA')
            </if>
            <if test='item.searchMetasYn != null and item.searchMetasYn == "Y"'>
                inner join (
                select distinct(idx) as idx from items_metas where mtype in
                <foreach item="item1" index="index1" collection="item.searchMetasArr"
                         open="(" separator="," close=")">
                    #{item1}
                </foreach>
                and meta like concat('%',#{item.searchKeyword},'%')
                ) imm${index} on imm${index}.idx = it.idx
            </if>
        </foreach>


        left outer join (
        select t.* from (
        select tk.idx, tk.tagidx
        , ( select max(tagidx) from items_tags_keys where idx = tk.idx ) as maxTagIdx
        from items_tags_keys tk
        where tk.stat = 'S'
        ) t where t.tagidx = t.maxTagIdx
        ) itk on itk.idx = it.idx

        inner join (
        select distinct(idx) as idx, tagidx from items_tags_metas where
        1=1
        <foreach item="item" index="indexs" collection="items">
            <if test='item.searchTagsYn != null and item.searchTagsYn == "Y" and item.searchTagsArr != null'>
                and mtype in
                <foreach item="item2" index="index" collection="item.searchTagsArr"
                         open="(" separator="," close=")">
                    #{item2}
                </foreach>
                and meta like concat('%',#{item.searchKeyword},'%')
            </if>
        </foreach>
        ) itm on itm.idx = it.idx and itm.tagidx = itk.tagidx

        left outer join ( select distinct(content_id) from ccube_contents where 1=1
        <foreach item="item" index="index" collection="items">
            <if test='item.searchActorsYn != null and item.searchActorsYn == "Y"'>
                and actors_display like concat('%',#{item.searchKeyword},'%')
            </if>
        </foreach>
        ) cc on cc.content_id = it.cid
        left outer join ( select distinct(series_id) from ccube_series where 1=1
        <foreach item="item" index="index" collection="items">
            <if test='item.searchActorsYn != null and item.searchActorsYn == "Y"'>
                and  actors_display like concat('%',#{item.searchKeyword},'%')
            </if>
        </foreach>
        ) cs on cs.series_id = it.cid

        inner join ccube_keys ck on ck.itemidx = it.idx and (it.cid = ck.content_id or it.cid = ck.series_id)
        where  1=1
        <foreach item="item" index="index" collection="items">
            and it.regdate1  between concat(#{item.searchSdate}, ' 00:00:00') and concat(#{item.searchEdate}, ' 23:59:59')
        </foreach>
        and it.stat != 'M'

        <if test='searchType != null and searchType == "KOR"'>
            and it.type = 'CcubeContentK'
        </if>
        <if test='searchType != null and searchType == "OTH"'>
            and it.type = 'CcubeContent'
        </if>
        <if test='searchType != null and searchType == "SER"'>
            and it.type = 'CcubeSeries'
        </if>
        <foreach item="item" index="index" collection="items">
            <if test='item.searchDirectorYn != null and item.searchDirectorYn != "" and item.searchKeyword!="" '>
                and it.director like CONCAT('%', #{item.searchKeyword} '%')
            </if>
        </foreach>

        <if test='items[0].searchActorsYn != null and items[0].searchActorsYn == "Y"'>
            ) p where p.cid is not null
            order by p.regdate desc, p.idx desc
        </if>

        <if test='items[0].searchActorsYn == null or items[0].searchActorsYn != "Y"'>
            order by it.regdate1 desc, it.idx desc
        </if>

        )

        ) j
        order by j.regdate desc, j.idx desc
        ) a
        inner join items it on it.idx = a.idx
        left outer join ccube_contents cc on cc.content_id = it.cid
        left outer join ccube_series cs on cs.series_id = it.cid
        <!--
        inner join (select idx,regid,tagidx from items_tags_metas group by idx,tagidx) im on im.idx = a.idx and im.tagidx = (select max(z.tagidx) from items_tags_metas z where z.idx=it.idx)
        -->
        where 1=1
        <foreach item="item" index="index" collection="items">
            <if test='item.searchTitleYn == "Y" and item.searchKeyword!=""'>
                and IFNULL( IFNULL(cc.CONTENT_TITLE,cs.PURITY_TITLE),title) like CONCAT('%',#{item.searchKeyword},'%')
            </if>
        </foreach>
        order by a.regdate desc, a.idx desc limit ${items[0].pageSize} offset ${items[0].offsetIdx}
    </select>

    <select id="countItemsPaging" parameterType="com.kthcorp.cmts.model.Items" resultType="java.lang.Integer" useCache="true">
      /* countItemsPaging */
        select count(*) as cnt
        from
        (	select j.* from
        (
        (
        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            select p.* from (
        </if>
        select it.idx, iss.stat, it.regdate

        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            , case when (it.type = 'CcubeContent' or it.type = 'CcubeContentK') then cc.content_id ELSE cs.series_id END AS cid
        </if>
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat not in ('RC', 'RR', 'RA', 'SC', 'SR', 'CT')
        <if test='searchStat != null and searchStat != "ALL" and searchStat != "FA"'>
            and iss.stat = #{searchStat}
        </if>
        <if test='searchStat != null and searchStat == "FA"'>
            and iss.stat in ('FR', 'FA')
        </if>
        <if test='searchMetasYn != null and searchMetasYn == "Y"'>
            inner join (
            select distinct(idx) as idx from items_metas where mtype in
            <foreach item="item1" index="index" collection="searchMetasArr"
                     open="(" separator="," close=")">
                #{item1}
            </foreach>
            and meta like concat('%',#{searchKeyword},'%')
            ) imm on imm.idx = it.idx
        </if>

        <if test='searchTagsYn != null and searchTagsYn == "Y" and searchTagsArr != null'>

            left outer join (
            select t.* from (
            select tk.idx, tk.tagidx
            , ( select max(tagidx) from items_tags_keys where idx = tk.idx ) as maxTagIdx
            from items_tags_keys tk
            where tk.stat = 'S'
            ) t where t.tagidx = t.maxTagIdx
            ) itk on itk.idx = it.idx

            inner join (
            select distinct(idx) as idx, tagidx from items_tags_metas where mtype in
            <foreach item="item2" index="index" collection="searchTagsArr"
                     open="(" separator="," close=")">
                #{item2}
            </foreach>
            and meta like concat('%',#{searchKeyword},'%')
            ) itm on itm.idx = it.idx and itm.tagidx = itk.tagidx
        </if>
        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            left outer join ( select distinct(content_id) from ccube_contents where actors_display like concat('%',#{searchKeyword},'%') ) cc on cc.content_id = it.cid
            left outer join ( select distinct(series_id) from ccube_series where actors_display like concat('%',#{searchKeyword},'%') ) cs on cs.series_id = it.cid
        </if>

        inner join ccube_keys ck on ck.itemidx = it.idx and (it.cid = ck.content_id or it.cid = ck.series_id)
        where it.regdate1 <![CDATA[ >= ]]> #{searchSdate} and it.regdate1 <![CDATA[ <= ]]> #{searchEdate}
        and it.stat != 'M'

        <if test='searchType != null and searchType == "KOR"'>
            and it.type = 'CcubeContentK'
        </if>
        <if test='searchType != null and searchType == "OTH"'>
            and it.type = 'CcubeContent'
        </if>
        <if test='searchType != null and searchType == "SER"'>
            and it.type = 'CcubeSeries'
        </if>
        <if test='searchDirectorYn != null and searchDirectorYn != ""'>
            and it.director like CONCAT('%', #{searchKeyword} '%')
        </if>

        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            ) p where p.cid is not null
        </if>

        )

        ) j
        ) a
        inner join items it on it.idx = a.idx
        left outer join ccube_contents cc on cc.content_id = it.cid
        left outer join ccube_series cs on cs.series_id = it.cid
        <if test='searchTitleYn == "Y"'>
            where IFNULL( IFNULL(cc.CONTENT_TITLE,cs.PURITY_TITLE),title) like CONCAT('%',#{searchKeyword},'%')
        </if>
        <!--
        inner join (select idx,regid,tagidx from items_tags_metas group by idx,tagidx) im on im.idx = a.idx and im.tagidx = (select max(z.tagidx) from items_tags_metas z where z.idx=it.idx)
        -->
    </select>


    <select id="countItemsAll" resultType="java.lang.Integer"
            useCache="true">
        /* countItemsAll */
        select count(*) from items it
        inner join ccube_keys ck on ck.itemidx = it.idx and (it.cid = ck.content_id or it.cid = ck.series_id)
        where it.stat = 'Y';
    </select>

    <select id="countItemsPagingByStat" parameterType="com.kthcorp.cmts.model.Items" resultType="com.kthcorp.cmts.model.Items"
            useCache="true">
        /* countItemsPagingByStat 191125 x3 */
        select b.stat, count(*) as cnt
        from
        (select a.*
        from
        (	select j.* from
        (
        (
        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            select p.* from (
        </if>
        select it.idx, iss.stat, it.regdate

        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            , case when (it.type = 'CcubeContent' or it.type = 'CcubeContentK') then cc.content_id ELSE cs.series_id END AS cid
        </if>
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat not in ('RC', 'RR', 'RA', 'SC', 'SR', 'CT')
        <if test='searchStat != null and searchStat != "ALL" and searchStat != "FA"'>
            and iss.stat = #{searchStat}
        </if>
        <if test='searchStat != null and searchStat == "FA"'>
            and iss.stat in ('FR', 'FA')
        </if>
        <if test='searchMetasYn != null and searchMetasYn == "Y"'>
            inner join (
            select distinct(idx) as idx from items_metas where mtype in
            <foreach item="item1" index="index" collection="searchMetasArr"
                     open="(" separator="," close=")">
                #{item1}
            </foreach>
            and meta like concat('%',#{searchKeyword},'%')
            ) imm on imm.idx = it.idx
        </if>

        <if test='searchTagsYn != null and searchTagsYn == "Y" and searchTagsArr != null'>

            left outer join (
            select t.* from (
            select tk.idx, tk.tagidx
            , ( select max(tagidx) from items_tags_keys where idx = tk.idx ) as maxTagIdx
            from items_tags_keys tk
            where tk.stat = 'S'
            ) t where t.tagidx = t.maxTagIdx
            ) itk on itk.idx = it.idx

            inner join (
            select distinct(idx) as idx, tagidx from items_tags_metas where mtype in
            <foreach item="item2" index="index" collection="searchTagsArr"
                     open="(" separator="," close=")">
                #{item2}
            </foreach>
            and meta like concat('%',#{searchKeyword},'%')
            ) itm on itm.idx = it.idx and itm.tagidx = itk.tagidx
        </if>
        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            left outer join ( select distinct(content_id) from ccube_contents where actors_display like concat('%',#{searchKeyword},'%') ) cc on cc.content_id = it.cid
            left outer join ( select distinct(series_id) from ccube_series where actors_display like concat('%',#{searchKeyword},'%') ) cs on cs.series_id = it.cid
        </if>

        inner join ccube_keys ck on ck.itemidx = it.idx and (it.cid = ck.content_id or it.cid = ck.series_id)
        where it.regdate1 <![CDATA[ >= ]]> #{searchSdate} and it.regdate1 <![CDATA[ <= ]]> #{searchEdate}
        and it.stat != 'M'

        <if test='searchType != null and searchType == "KOR"'>
            and it.type = 'CcubeContentK'
        </if>
        <if test='searchType != null and searchType == "OTH"'>
            and it.type = 'CcubeContent'
        </if>
        <if test='searchType != null and searchType == "SER"'>
            and it.type = 'CcubeSeries'
        </if>
        <if test='searchDirectorYn != null and searchDirectorYn != ""'>
            and it.director like CONCAT('%', #{searchKeyword} '%')
        </if>

        <if test='searchActorsYn != null and searchActorsYn == "Y"'>
            ) p where p.cid is not null
        </if>

        )

        ) j
        ) a
        inner join items it on it.idx = a.idx
        left outer join ccube_contents cc on cc.content_id = it.cid
        left outer join ccube_series cs on cs.series_id = it.cid
        <if test='searchTitleYn == "Y"'>
            where IFNULL( IFNULL(cc.CONTENT_TITLE,cs.PURITY_TITLE),title) like CONCAT('%',#{searchKeyword},'%')
        </if>
        ) b
        group by b.stat
    </select>

    <select id="searchTestMetas" parameterType="com.kthcorp.cmts.model.Items" resultType="com.kthcorp.cmts.model.Items">
        select itm.idx from items_tags_metas itm
        where itm.meta like CONCAT('%',#{searchKeyword},'%')
        <if test='searchTagsArr != null'>
            and itm.mtype in
            <foreach item="item" index="index" collection="searchTagsArr"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        group by itm.idx
    </select>

    <select id="getScidByItemIdxAndType" parameterType="com.kthcorp.cmts.model.Items" resultType="Integer">
        /* getScidByItemIdxAndType */
        select ism.sc_id
        from items_sched_mapping ism
        inner join sched_trigger st on st.sc_id = ism.sc_id and st.type = #{type}
        where ism.idx = #{idx}
        order by st.regdate DESC
        limit 1
    </select>

    <update id="uptSchedTriggerStatByScid" parameterType="com.kthcorp.cmts.model.Items">
      /* uptSchedTriggerStatByScid  */
      update sched_trigger set stat = #{stat}, regdate = now()
      where sc_id = #{sc_id}
    </update>

    <insert id="insItemsStat" parameterType="com.kthcorp.cmts.model.Items">
        /* insItemsStat */
        insert into items_stat (idx, stat, regdate)
        values (#{idx}, #{stat}, now())
        ON DUPLICATE KEY UPDATE stat = #{stat}, regdate = now()
    </insert>

    <update id="uptItemsTagcnt" parameterType="com.kthcorp.cmts.model.Items">
        /* uptItemsTagcnt */
        update items set tagcnt = #{tagcnt}
        , regdate = now()
        <if test='duration != null and duration != ""'>
            , duration = #{duration}
        </if>
        <if test='regid != null and regid != ""'>
            , regid = #{regid}
        </if>
        where idx = #{idx}
    </update>

    <select id="getItemsStatByIdx" parameterType="java.lang.Integer" resultType="java.lang.String">
        /* getItemsStatByIdx */
        select stat from items_stat
        where idx = #{idx}
    </select>

    <update id="uptItemsTagcntMinus" parameterType="com.kthcorp.cmts.model.Items">
        /* uptItemsTagcntMinus */
        update items set tagcnt = tagcnt - 1
        , regdate = now()
        where idx = #{idx}
    </update>

    <update id="uptItemsRegdate" parameterType="com.kthcorp.cmts.model.Items">
        /* uptItemsRegdate */
        update items set regdate = now()
        where idx = #{idx}
    </update>


    <select id="getItemsInfoForPrism" resultType="map" parameterType="map">
        /* getItemsInfoForPrism */

        select idx,title,regdate,regdate1 from items
        where regdate1 > #{regdate1}
        order by regdate1 desc
        limit 50
    </select>

    <!-- mcid로 동일 컨텐츠 검색 -->
    <select id="getItemListSameMcid" parameterType="com.kthcorp.cmts.model.Items" resultType="com.kthcorp.cmts.model.Items">
        /* getItemListSameMcid */
        select * from (
            select a.*, a.cid as content_id
            from items a

            where a.cid in (
                select b.content_id
                from ccube_contents b
                where b.master_content_id = (
                    select c.master_content_id
                    from ccube_contents c
                    where 1=1
                    and c.content_id=(select d.cid from items d where d.idx=#{idx})
                )
            )

            union all

            select a.*, a.cid as content_id
            from items a

            where a.cid in (
                select b.series_id
                from ccube_series b
                where b.series_id = (
                    select d.cid
                    from items d
                    where d.idx=#{idx}
                )
            )
            and a.idx=#{idx}
		) as meta_table order by cid asc, stat desc;

    </select>

</mapper>
