<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.ItemsTagsMapper">

    <select id="getItemsTagsMetasByItemIdx" resultType="com.kthcorp.cmts.model.ItemsTags" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* getItemsTagsMetasByItemIdx */
        select
            im.idx, im.tagidx, im.mtype, im.meta, im.regdate, im.regid
        from items_tags_metas im
        where im.idx = #{idx} and im.TAGIDX = (
            select itt.tagidx from items_tags_keys itt
            where itt.idx = im.idx and itt.stat = #{stat}
            order by regdate desc limit 1
        )
        order by im.mtype asc
    </select>

    <select id="getItemsTagsMetasByItemIdxAndMtype" resultType="com.kthcorp.cmts.model.ItemsTags" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* getItemsTagsMetasByItemIdxAndMtype */
        select
        im.idx, im.tagidx, im.mtype, im.meta, im.regdate, im.regid
        from items_tags_metas im
        where im.idx = #{idx} and im.TAGIDX = (
        select itt.tagidx from items_tags_keys itt
        where itt.idx = im.idx and itt.stat = #{stat}
        order by regdate desc limit 1
        )
        and im.MTYPE = #{mtype}
        limit 1
    </select>

    <select id="getMaxTagsIdxByItemIdx" resultType="java.lang.Integer" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* getMaxTagsIdxByItemIdx */
        select
          ifnull(max(tagidx), 0) as tagidx
        from items_tags_keys
        where idx = #{idx}
        <if test='stat != null and stat != ""'>
            and stat = #{stat}
        </if>
    </select>

    <select id="getMinTagsIdxByItemIdx" resultType="java.lang.Integer" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* getMinTagsIdxByItemIdx */
        select
        ifnull(min(tagidx), 0) as tagidx
        from items_tags_keys
        where idx = #{idx}
        <if test='stat != null and stat != ""'>
            and stat = #{stat}
        </if>
    </select>

    <delete id="delItemsTagsKeys" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* delItemsTagsKeys */
        delete from items_tags_keys
        where idx = #{idx} and tagidx = #{tagidx}
    </delete>

    <select id="cntConfirmedTags" resultType="java.lang.Integer" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* cntConfirmedTags */
        select
        count(*) as cnt
        from items_tags_keys
        where idx = #{idx}
        <if test='stat != null and stat != ""'>
            and stat = #{stat}
        </if>
    </select>

    <select id="getLastTagCntInfo" resultType="com.kthcorp.cmts.model.ItemsTags" parameterType="java.lang.Integer">
        /* getLastTagCntInfo */
        select
        idx, tagidx, stat, regdate
        from items_tags_keys
        where idx = #{idx}
        order by tagidx DESC
        limit 1
    </select>

    <select id="getLastTagSuccessInfo" resultType="com.kthcorp.cmts.model.ItemsTags" parameterType="java.lang.Integer">
        /* getLastTagSuccessInfo */
        select
        idx, tagidx, stat, regdate
        from items_tags_keys
        where idx = #{idx} and stat in ('S', 'Y')
        order by tagidx DESC
        limit 1
    </select>

    <select id="getTagCntInfo" resultType="com.kthcorp.cmts.model.ItemsTags" parameterType="java.lang.Integer">
        /* getTagCntInfo */
        select
        idx, tagidx, stat, regdate
        from items_tags_keys
        where idx = #{idx}
        order by tagidx DESC
    </select>

    <select id="getSuccessTagList" resultType="com.kthcorp.cmts.model.ItemsTags" parameterType="java.lang.Integer">
        /* getSuccessTagList */
        select
        idx, tagidx, stat, regdate
        from items_tags_keys
        where idx = #{idx} and stat = 'S'
        order by tagidx DESC
    </select>


    <insert id="insItemsTagsKeys" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* insItemsTagsKeys */
        insert into items_tags_keys
          (idx, tagidx, stat, regdate)
        values
          (#{idx}, #{tagidx}, 'Y', now())
        ON DUPLICATE KEY UPDATE regdate = now(), stat = 'Y'
    </insert>

    <update id="uptItemsTagsKeysStat" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* uptItemsTagsKeysStat */
        update items_tags_keys set stat = #{stat}
        where idx = #{idx} and tagidx = #{tagidx}
    </update>

    <insert id="insItemsTagsMetas" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* insItemsMetas */
        insert into items_tags_metas
        (idx, tagidx, mtype, meta, regdate, regid)
        values
        (#{idx}, #{tagidx}, #{mtype}, #{meta}, now(), #{regid})
        ON DUPLICATE KEY UPDATE meta = #{meta}, regid = #{regid}, regdate = now()
    </insert>

    <insert id="insItemsTagsMetas_0503" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* insItemsMetas */
        insert into items_tags_metas_0517
        (idx, tagidx, mtype, meta, regdate, regid, meta_orig)
        values
        (#{idx}, #{tagidx}, #{mtype}, #{meta}, now(), #{regid}, #{meta_orig})
        ON DUPLICATE KEY UPDATE meta = #{meta}, meta_orig = #{meta_orig}, regid = #{regid}, regdate = now()
    </insert>

    <select id="getYjTagsMetasByItemidx" parameterType="com.kthcorp.cmts.model.ItemsTags" resultType="com.kthcorp.cmts.model.ItemsTags">
        /* getYjTagsMetasByItemidx */
        select ym.title, ym.title2, ym.yj_id, ym.mtype, ym.meta, ym.regdate
        from items it
        inner join ccube_contents cc on cc.CONTENT_ID = it.cid
        inner join yj_items_out2 yj on yj.yj_id = cc.kmrb_id
        inner join yj_tags_metas ym on ym.yj_id = yj.yj_id
        where it.idx = #{idx}
    </select>

    <select id="getSearchTagsMetasByMtypeAndKeywordPaging" parameterType="com.kthcorp.cmts.model.ItemsTags"
            resultType="com.kthcorp.cmts.model.ItemsTags">
        /* getSearchTagsMetasByMtypeAndKeywordPaging */
          select itm.* from items_tags_metas itm
          where itm.mtype = #{mtype}
            <if test='keyword != null and keyword != ""'>
                and itm.meta like concat ('%"', #{keyword}, '",%')
            </if>
            order by itm.regdate desc, itm.idx desc
          limit ${pageSize} offset ${offsetIdx}
    </select>

    <select id="cntSearchTagsMetasByMtypeAndKeyword" parameterType="com.kthcorp.cmts.model.ItemsTags"
            resultType="java.lang.Integer">
        /* cntSearchTagsMetasByMtypeAndKeyword */
        select count(*) as cnt from items_tags_metas itm
        where itm.mtype = #{mtype}
            <if test='keyword != null and keyword != ""'>
                and itm.meta like concat ('%"', #{keyword}, '",%')
            </if>
    </select>

    <update id="uptItemsTagsByManual" parameterType="com.kthcorp.cmts.model.ItemsTags">
        /* uptItemsTagsByManual */
        update items_tags_metas set meta_orig = meta , meta = #{meta}
        where idx = #{idx} and tagidx = #{tagidx} and mtype = #{mtype}
    </update>

    <select id="getItemsTagsMetasByManual" parameterType="com.kthcorp.cmts.model.ItemsTags" resultType="com.kthcorp.cmts.model.ItemsTags">
        /* getItemsTagsMetasByManual  */
        select * from items_tags_metas
        where idx = #{idx} and mtype = #{mtype}
    </select>

    <select id="getItemsTagsMetasByMtype" parameterType="com.kthcorp.cmts.model.ItemsTags" resultType="com.kthcorp.cmts.model.ItemsTags">
        /* getItemsTagsMetasByMtype  */
        select * from items_tags_metas
        where mtype = #{mtype}
        and length(meta) > 2
    </select>
</mapper>