<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.NlpProgsMapper">

    <select id="getTest1" resultType="com.kthcorp.cmts.model.TestVO">
        select
        st.sc_id, st.type, st.descript, sc.content
        from sched_trigger st
        inner join sched_target_content sc on sc.sc_id = st.sc_id and length(sc.content) <![CDATA[ > ]]> 5
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx and it.stat = 'Y'
        where st.type = 'R';
<!--
        select
        st.sc_id, st.type, st.descript, sc.content
        from sched_trigger st
        inner join sched_target_content sc on sc.sc_id = st.sc_id
        where st.sc_id <![CDATA[ > ]]> #{min} and st.sc_id <![CDATA[ < ]]> #{max} and st.type = 'R'
        -->
    </select>

    <select id="getNlpProgs" resultType="com.kthcorp.cmts.model.NlpProgs">
        /* getNlpProgs */
        select
          idx
          , filename, filelines, filecharset
          , linecnt, stat, regdate
          , outfilename
          , (linecnt / filelines) * 100 as progs
        from nlp_progs
        order by regdate desc
    </select>

    <insert id="insNlpProgs" parameterType="com.kthcorp.cmts.model.NlpProgs" useGeneratedKeys="true" keyProperty="idx">
        /* insNlpProgs */
        insert into nlp_progs
          (filename, filelines, linecnt, filecharset, stat, regdate, outfilename)
        values
          (#{filename}, #{filelines}, 0, #{filecharset}, #{stat}, now(), #{outfilename})
    </insert>

    <update id="uptNlpProgs" parameterType="com.kthcorp.cmts.model.NlpProgs">
        /* uptNlpProgs */
        update nlp_progs
          set
          linecnt = #{linecnt}
        , regdate = now()
          <if test='stat != null and stat != ""'>
          , stat = #{stat}
          </if>
          where idx = #{idx}
    </update>

</mapper>