<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.RelKnowledgeMapper">
	<delete id="delRelKnowledgesCook" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_cook
	</delete>
	<delete id="delRelKnowledgesCurr" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_curr
	</delete>
	<delete id="delRelKnowledgesDocu" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_docu
	</delete>
	<delete id="delRelKnowledgesHeal" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_heal
	</delete>
	<delete id="delRelKnowledgesHist" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_hist
	</delete>
	<delete id="delRelKnowledgesTour" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_tour
	</delete>
	
	<insert id="addRelKnowledgesCook" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_cook(
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			cook_title_a,
			cook_title_b,
			cook_parts,
			cook_parts_main,
			cook_parts_sub,
			cook_type_a,
			cook_type_b,
			cook_chef_a,
			cook_chef_b,
			cook_kor_area_a,
			cook_kor_area_b,
			cook_oth_area_a,
			cook_oth_area_b,
			cook_place_name,
			cook_place_kor_area_a,
			cook_place_kor_area_b,
			cook_place_oth_area_a,
			cook_place_oth_area_b,
			cook_good_season,
			cook_good_day,
			cook_purpose,
			cook_flavor,
			cook_cooker,
			cook_shoot_place,
			cook_level_a,
			cook_level_b,
			cook_level_c,
			cook_time,
			cook_nutrient,
			cook_ea,
			cook_etc_a,
			cook_etc_b
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{type},
			#{cook_title_a},
			#{cook_title_b},
			#{cook_parts},
			#{cook_parts_main},
			#{cook_parts_sub},
			#{cook_type_a},
			#{cook_type_b},
			#{cook_chef_a},
			#{cook_chef_b},
			#{cook_kor_area_a},
			#{cook_kor_area_b},
			#{cook_oth_area_a},
			#{cook_oth_area_b},
			#{cook_place_name},
			#{cook_place_kor_area_a},
			#{cook_place_kor_area_b},
			#{cook_place_oth_area_a},
			#{cook_place_oth_area_b},
			#{cook_good_season},
			#{cook_good_day},
			#{cook_purpose},
			#{cook_flavor},
			#{cook_cooker},
			#{cook_shoot_place},
			#{cook_level_a},
			#{cook_level_b},
			#{cook_level_c},
			#{cook_time},
			#{cook_nutrient},
			#{cook_ea},
			#{cook_etc_a},
			#{cook_etc_b}
		)
	</insert>
	
	<insert id="addRelKnowledgesCurr" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_curr(
			regweek,
			stat,
			title,
			part,
			assetid,
			curr_subject,
			curr_person,
			curr_incident,
			curr_product,
			curr_process,
			curr_type,
			curr_mc,
			curr_actor,
			curr_keyword,
			cur_etc
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{curr_subject},
			#{curr_person},
			#{curr_incident},
			#{curr_product},
			#{curr_process},
			#{curr_type},
			#{curr_mc},
			#{curr_actor},
			#{curr_keyword},
			#{cur_etc}
		)
	</insert>
	
	<insert id="addRelKnowledgesDocu" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_docu(
			regweek,
			stat,
			title,
			part,
			assetid,
			docu_subject,
			docu_person,
			docu_incident,
			docu_area,
			docu_mc,
			docu_actor,
			docu_keyword,
			docu_etc
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{docu_subject},
			#{docu_person},
			#{docu_incident},
			#{docu_area},
			#{docu_mc},
			#{docu_actor},
			#{docu_keyword},
			#{docu_etc}
		)
	</insert>
	
	<insert id="addRelKnowledgesHeal" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_heal(
			regweek,
			stat,
			title,
			part,
			assetid,
			heal_subject,
			heal_part,
			heal_symtoms,
			heal_cause_a,
			heal_cause_b,
			heal_cause_c,
			heal_diagnose,
			heal_treat_type,
			heal_prevention,
			heal_drug,
			heal_treat_name,
			heal_hospital,
			heal_doctor,
			heal_talker,
			heal_actor,
			heal_expert,
			heal_public,
			heal_course,
			heal_activity,
			heal_ingredient,
			heal_food_a,
			heal_food_b,
			heal_activity_part,
			heal_activity_name,
			heal_season,
			heal_target,
			heal_keyword,
			heal_etc
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{heal_subject},
			#{heal_part},
			#{heal_symtoms},
			#{heal_cause_a},
			#{heal_cause_b},
			#{heal_cause_c},
			#{heal_diagnose},
			#{heal_treat_type},
			#{heal_prevention},
			#{heal_drug},
			#{heal_treat_name},
			#{heal_hospital},
			#{heal_doctor},
			#{heal_talker},
			#{heal_actor},
			#{heal_expert},
			#{heal_public},
			#{heal_course},
			#{heal_activity},
			#{heal_ingredient},
			#{heal_food_a},
			#{heal_food_b},
			#{heal_activity_part},
			#{heal_activity_name},
			#{heal_season},
			#{heal_target},
			#{heal_keyword},
			#{heal_etc}
		)
	</insert>
	
	<insert id="addRelKnowledgesHist" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_hist(
			regweek,
			stat,
			program,
			title,
			assetid,
			hist_subject,
			hist_area_a,
			hist_area_b,
			hist_year_a,
			hist_year_b,
			hist_person,
			hist_feat,
			hist_incident,
			hist_thing,
			hist_area_c,
			hist_actor,
			hist_etc
		)
		VALUES(
			#{regweek},
			#{stat},
			#{program},
			#{title},
			#{assetid},
			#{hist_subject},
			#{hist_area_a},
			#{hist_area_b},
			#{hist_year_a},
			#{hist_year_b},
			#{hist_person},
			#{hist_feat},
			#{hist_incident},
			#{hist_thing},
			#{hist_area_c},
			#{hist_actor},
			#{hist_etc}
		)
	</insert>
	
	<insert id="addRelKnowledgesTour" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_tour(
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			tour_theme,
			tour_area_a,
			tour_area_b,
			tour_area_c,
			tour_area_d,
			tour_area_e,
			tour_natural,
			tour_nation,
			tour_person,
			tour_festival,
			tour_type_a,
			tour_type_b,
			tour_type_c,
			tour_season,
			tour_human,
			tour_tourist,
			tour_mc_yn,
			tour_mc,
			tour_food,
			tour_type_d,
			tour_festival_name,
			tour_trans,
			tour_peaple,
			tour_weather,
			tour_music,
			tour_period,
			tour_companion,
			tour_etc_a,
			tour_etc_b
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{type},
			#{tour_theme},
			#{tour_area_a},
			#{tour_area_b},
			#{tour_area_c},
			#{tour_area_d},
			#{tour_area_e},
			#{tour_natural},
			#{tour_nation},
			#{tour_person},
			#{tour_festival},
			#{tour_type_a},
			#{tour_type_b},
			#{tour_type_c},
			#{tour_season},
			#{tour_human},
			#{tour_tourist},
			#{tour_mc_yn},
			#{tour_mc},
			#{tour_food},
			#{tour_type_d},
			#{tour_festival_name},
			#{tour_trans},
			#{tour_peaple},
			#{tour_weather},
			#{tour_music},
			#{tour_period},
			#{tour_companion},
			#{tour_etc_a},
			#{tour_etc_b}
		)
	</insert>
	
	<select id="getRelKnowledgeListCook" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			cook_title_a,
			cook_title_b,
			cook_parts,
			cook_parts_main,
			cook_parts_sub,
			cook_type_a,
			cook_type_b,
			cook_chef_a,
			cook_chef_b,
			cook_kor_area_a,
			cook_kor_area_b,
			cook_oth_area_a,
			cook_oth_area_b,
			cook_place_name,
			cook_place_kor_area_a,
			cook_place_kor_area_b,
			cook_place_oth_area_a,
			cook_place_oth_area_b,
			cook_good_season,
			cook_good_day,
			cook_purpose,
			cook_flavor,
			cook_cooker,
			cook_shoot_place,
			cook_level_a,
			cook_level_b,
			cook_level_c,
			cook_time,
			cook_nutrient,
			cook_ea,
			cook_etc_a,
			cook_etc_b
		FROM
			vod_rt_cook
	</select>
	
	<select id="getRelKnowledgeListCurr" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			curr_subject,
			curr_person,
			curr_incident,
			curr_product,
			curr_process,
			curr_type,
			curr_mc,
			curr_actor,
			curr_keyword,
			cur_etc
		FROM
			vod_rt_curr
	</select>
	
	<select id="getRelKnowledgeListDocu" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			docu_subject,
			docu_person,
			docu_incident,
			docu_area,
			docu_mc,
			docu_actor,
			docu_keyword,
			docu_etc
		FROM
			vod_rt_docu
	</select>
	
	<select id="getRelKnowledgeListHeal" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			heal_subject,
			heal_part,
			heal_symtoms,
			heal_cause_a,
			heal_cause_b,
			heal_cause_c,
			heal_diagnose,
			heal_treat_type,
			heal_prevention,
			heal_drug,
			heal_treat_name,
			heal_hospital,
			heal_doctor,
			heal_talker,
			heal_actor,
			heal_expert,
			heal_public,
			heal_course,
			heal_activity,
			heal_ingredient,
			heal_food_a,
			heal_food_b,
			heal_activity_part,
			heal_activity_name,
			heal_season,
			heal_target,
			heal_keyword,
			heal_etc
		FROM
			vod_rt_heal
	</select>
	
	<select id="getRelKnowledgeListHist" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			program,
			title,
			assetid,
			hist_subject,
			hist_area_a,
			hist_area_b,
			hist_year_a,
			hist_year_b,
			hist_person,
			hist_feat,
			hist_incident,
			hist_thing,
			hist_area_c,
			hist_actor,
			hist_etc
		FROM
			vod_rt_hist
	</select>
	
	<select id="getRelKnowledgeListTour" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			tour_theme,
			tour_area_a,
			tour_area_b,
			tour_area_c,
			tour_area_d,
			tour_area_e,
			tour_natural,
			tour_nation,
			tour_person,
			tour_festival,
			tour_type_a,
			tour_type_b,
			tour_type_c,
			tour_season,
			tour_human,
			tour_tourist,
			tour_mc_yn,
			tour_mc,
			tour_food,
			tour_type_d,
			tour_festival_name,
			tour_trans,
			tour_peaple,
			tour_weather,
			tour_music,
			tour_period,
			tour_companion,
			tour_etc_a,
			tour_etc_b
		FROM
			vod_rt_tour
	</select>
	
</mapper>