<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.RelKnowledgeMapper">
	<delete id="delRelKnowledgesCook" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_cook
	</delete>
	<delete id="delRelKnowledgesCurr" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_curr
	</delete>
	<delete id="delRelKnowledgesDocu" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_docu
	</delete>
	<delete id="delRelKnowledgesHeal" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_heal
	</delete>
	<delete id="delRelKnowledgesHist" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_hist
	</delete>
	<delete id="delRelKnowledgesTour" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		DELETE FROM vod_rt_tour
	</delete>
	
	<insert id="addRelKnowledgesCook" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_cook(
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			cook_title_a,
			cook_title_b,
			cook_parts,
			cook_parts_main,
			cook_parts_sub,
			cook_type_a,
			cook_type_b,
			cook_chef_a,
			cook_chef_b,
			cook_kor_area_a,
			cook_kor_area_b,
			cook_oth_area_a,
			cook_oth_area_b,
			cook_place_name,
			cook_place_kor_area_a,
			cook_place_kor_area_b,
			cook_place_oth_area_a,
			cook_place_oth_area_b,
			cook_good_season,
			cook_good_day,
			cook_purpose,
			cook_flavor,
			cook_cooker,
			cook_shoot_place,
			cook_level_a,
			cook_level_b,
			cook_level_c,
			cook_time,
			cook_nutrient,
			cook_ea,
			cook_etc_a,
			cook_etc_b
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{type},
			#{cook_title_a},
			#{cook_title_b},
			#{cook_parts},
			#{cook_parts_main},
			#{cook_parts_sub},
			#{cook_type_a},
			#{cook_type_b},
			#{cook_chef_a},
			#{cook_chef_b},
			#{cook_kor_area_a},
			#{cook_kor_area_b},
			#{cook_oth_area_a},
			#{cook_oth_area_b},
			#{cook_place_name},
			#{cook_place_kor_area_a},
			#{cook_place_kor_area_b},
			#{cook_place_oth_area_a},
			#{cook_place_oth_area_b},
			#{cook_good_season},
			#{cook_good_day},
			#{cook_purpose},
			#{cook_flavor},
			#{cook_cooker},
			#{cook_shoot_place},
			#{cook_level_a},
			#{cook_level_b},
			#{cook_level_c},
			#{cook_time},
			#{cook_nutrient},
			#{cook_ea},
			#{cook_etc_a},
			#{cook_etc_b}
		)
	</insert>
	
	<insert id="addRelKnowledgesCurr" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_curr(
			regweek,
			stat,
			title,
			part,
			assetid,
			curr_subject,
			curr_person,
			curr_incident,
			curr_product,
			curr_process,
			curr_type,
			curr_mc,
			curr_actor,
			curr_keyword,
			cur_etc
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{curr_subject},
			#{curr_person},
			#{curr_incident},
			#{curr_product},
			#{curr_process},
			#{curr_type},
			#{curr_mc},
			#{curr_actor},
			#{curr_keyword},
			#{cur_etc}
		)
	</insert>
	
	<insert id="addRelKnowledgesDocu" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_docu(
			regweek,
			stat,
			title,
			part,
			assetid,
			docu_subject,
			docu_person,
			docu_incident,
			docu_area,
			docu_mc,
			docu_actor,
			docu_keyword,
			docu_etc
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{docu_subject},
			#{docu_person},
			#{docu_incident},
			#{docu_area},
			#{docu_mc},
			#{docu_actor},
			#{docu_keyword},
			#{docu_etc}
		)
	</insert>
	
	<insert id="addRelKnowledgesHeal" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_heal(
			regweek,
			stat,
			title,
			part,
			assetid,
			heal_subject,
			heal_part,
			heal_symtoms,
			heal_cause_a,
			heal_cause_b,
			heal_cause_c,
			heal_diagnose,
			heal_treat_type,
			heal_prevention,
			heal_drug,
			heal_treat_name,
			heal_hospital,
			heal_doctor,
			heal_talker,
			heal_actor,
			heal_expert,
			heal_public,
			heal_course,
			heal_activity,
			heal_ingredient,
			heal_food_a,
			heal_food_b,
			heal_activity_part,
			heal_activity_name,
			heal_season,
			heal_target,
			heal_keyword,
			heal_etc
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{heal_subject},
			#{heal_part},
			#{heal_symtoms},
			#{heal_cause_a},
			#{heal_cause_b},
			#{heal_cause_c},
			#{heal_diagnose},
			#{heal_treat_type},
			#{heal_prevention},
			#{heal_drug},
			#{heal_treat_name},
			#{heal_hospital},
			#{heal_doctor},
			#{heal_talker},
			#{heal_actor},
			#{heal_expert},
			#{heal_public},
			#{heal_course},
			#{heal_activity},
			#{heal_ingredient},
			#{heal_food_a},
			#{heal_food_b},
			#{heal_activity_part},
			#{heal_activity_name},
			#{heal_season},
			#{heal_target},
			#{heal_keyword},
			#{heal_etc}
		)
	</insert>
	
	<insert id="addRelKnowledgesHist" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_hist(
			regweek,
			stat,
			program,
			title,
			assetid,
			hist_subject,
			hist_area_a,
			hist_area_b,
			hist_year_a,
			hist_year_b,
			hist_person,
			hist_feat,
			hist_incident,
			hist_thing,
			hist_area_c,
			hist_actor,
			hist_etc
		)
		VALUES(
			#{regweek},
			#{stat},
			#{program},
			#{title},
			#{assetid},
			#{hist_subject},
			#{hist_area_a},
			#{hist_area_b},
			#{hist_year_a},
			#{hist_year_b},
			#{hist_person},
			#{hist_feat},
			#{hist_incident},
			#{hist_thing},
			#{hist_area_c},
			#{hist_actor},
			#{hist_etc}
		)
	</insert>
	
	<insert id="addRelKnowledgesTour" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		INSERT INTO vod_rt_tour(
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			tour_theme,
			tour_area_a,
			tour_area_b,
			tour_area_c,
			tour_area_d,
			tour_area_e,
			tour_natural,
			tour_nation,
			tour_person,
			tour_festival,
			tour_type_a,
			tour_type_b,
			tour_type_c,
			tour_season,
			tour_human,
			tour_tourist,
			tour_mc_yn,
			tour_mc,
			tour_food,
			tour_type_d,
			tour_festival_name,
			tour_trans,
			tour_peaple,
			tour_weather,
			tour_music,
			tour_period,
			tour_companion,
			tour_etc_a,
			tour_etc_b
		)
		VALUES(
			#{regweek},
			#{stat},
			#{title},
			#{part},
			#{assetid},
			#{type},
			#{tour_theme},
			#{tour_area_a},
			#{tour_area_b},
			#{tour_area_c},
			#{tour_area_d},
			#{tour_area_e},
			#{tour_natural},
			#{tour_nation},
			#{tour_person},
			#{tour_festival},
			#{tour_type_a},
			#{tour_type_b},
			#{tour_type_c},
			#{tour_season},
			#{tour_human},
			#{tour_tourist},
			#{tour_mc_yn},
			#{tour_mc},
			#{tour_food},
			#{tour_type_d},
			#{tour_festival_name},
			#{tour_trans},
			#{tour_peaple},
			#{tour_weather},
			#{tour_music},
			#{tour_period},
			#{tour_companion},
			#{tour_etc_a},
			#{tour_etc_b}
		)
	</insert>
	
	<select id="getRelKnowledgeListCook" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			cook_title_a,
			cook_title_b,
			cook_parts,
			cook_parts_main,
			cook_parts_sub,
			cook_type_a,
			cook_type_b,
			cook_chef_a,
			cook_chef_b,
			cook_kor_area_a,
			cook_kor_area_b,
			cook_oth_area_a,
			cook_oth_area_b,
			cook_place_name,
			cook_place_kor_area_a,
			cook_place_kor_area_b,
			cook_place_oth_area_a,
			cook_place_oth_area_b,
			cook_good_season,
			cook_good_day,
			cook_purpose,
			cook_flavor,
			cook_cooker,
			cook_shoot_place,
			cook_level_a,
			cook_level_b,
			cook_level_c,
			cook_time,
			cook_nutrient,
			cook_ea,
			cook_etc_a,
			cook_etc_b
		FROM
			vod_rt_cook
	</select>
	
	<select id="getRelKnowledgeListCurr" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			curr_subject,
			curr_person,
			curr_incident,
			curr_product,
			curr_process,
			curr_type,
			curr_mc,
			curr_actor,
			curr_keyword,
			cur_etc
		FROM
			vod_rt_curr
	</select>
	
	<select id="getRelKnowledgeListDocu" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			docu_subject,
			docu_person,
			docu_incident,
			docu_area,
			docu_mc,
			docu_actor,
			docu_keyword,
			docu_etc
		FROM
			vod_rt_docu
	</select>
	
	<select id="getRelKnowledgeListHeal" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			heal_subject,
			heal_part,
			heal_symtoms,
			heal_cause_a,
			heal_cause_b,
			heal_cause_c,
			heal_diagnose,
			heal_treat_type,
			heal_prevention,
			heal_drug,
			heal_treat_name,
			heal_hospital,
			heal_doctor,
			heal_talker,
			heal_actor,
			heal_expert,
			heal_public,
			heal_course,
			heal_activity,
			heal_ingredient,
			heal_food_a,
			heal_food_b,
			heal_activity_part,
			heal_activity_name,
			heal_season,
			heal_target,
			heal_keyword,
			heal_etc
		FROM
			vod_rt_heal
	</select>
	
	<select id="getRelKnowledgeListHist" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			program,
			title,
			assetid,
			hist_subject,
			hist_area_a,
			hist_area_b,
			hist_year_a,
			hist_year_b,
			hist_person,
			hist_feat,
			hist_incident,
			hist_thing,
			hist_area_c,
			hist_actor,
			hist_etc
		FROM
			vod_rt_hist
	</select>
	
	<select id="getRelKnowledgeListTour" parameterType="com.kthcorp.cmts.model.RelKnowledge" resultType="com.kthcorp.cmts.model.RelKnowledge">
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			tour_theme,
			tour_area_a,
			tour_area_b,
			tour_area_c,
			tour_area_d,
			tour_area_e,
			tour_natural,
			tour_nation,
			tour_person,
			tour_festival,
			tour_type_a,
			tour_type_b,
			tour_type_c,
			tour_season,
			tour_human,
			tour_tourist,
			tour_mc_yn,
			tour_mc,
			tour_food,
			tour_type_d,
			tour_festival_name,
			tour_trans,
			tour_peaple,
			tour_weather,
			tour_music,
			tour_period,
			tour_companion,
			tour_etc_a,
			tour_etc_b
		FROM
			vod_rt_tour
	</select>
	
	
	
	
	
	
	
	
	<insert id="importRelKnowledgesCook" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		LOAD DATA LOCAL INFILE #{relKnowledgeFilePath}
		IGNORE
		INTO TABLE `metatagdb`.`vod_rt_cook`
		COLUMNS TERMINATED BY ','
		ENCLOSED BY '"'
		LINES TERMINATED BY '\n'
		IGNORE 1 LINES
		(@col1,	@col2,	@col3,	@col4,	@col5,	@col6,	@col7,	@col8,	@col9,	@col10,	@col11,	@col12,	@col13,	@col14,	@col15,	@col16,	@col17,	@col18,	@col19,	@col20,	@col21,	@col22,	@col23,	@col24,	@col25,	@col26,	@col27,	@col28,	@col29,	@col30,	@col31,	@col32,	@col33,	@col34,	@col35,	@col36,	@col37,	@col38,	@col39,	@col40,	@col41)
		set
			regweek=replace(@col1,'，',','),
			stat=replace(@col2,'，',','),
			title=replace(@col3,'，',','),
			part=replace(@col4,'，',','),
			assetid=replace(@col5,'，',','),
			type=replace(@col6,'，',','),
			cook_title_a=replace(@col7,'，',','),
			cook_title_b=replace(@col8,'，',','),
			cook_parts=replace(@col9,'，',','),
			cook_parts_main=replace(@col10,'，',','),
			cook_parts_sub=replace(@col11,'，',','),
			cook_type_a=replace(@col12,'，',','),
			cook_type_b=replace(@col13,'，',','),
			cook_chef_a=replace(@col14,'，',','),
			cook_chef_b=replace(@col15,'，',','),
			cook_kor_area_a=replace(@col16,'，',','),
			cook_kor_area_b=replace(@col17,'，',','),
			cook_oth_area_a=replace(@col18,'，',','),
			cook_oth_area_b=replace(@col19,'，',','),
			cook_place_name=replace(@col20,'，',','),
			cook_place_kor_area_a=replace(@col21,'，',','),
			cook_place_kor_area_b=replace(@col22,'，',','),
			cook_place_oth_area_a=replace(@col23,'，',','),
			cook_place_oth_area_b=replace(@col24,'，',','),
			cook_good_season=replace(@col25,'，',','),
			cook_good_day=replace(@col26,'，',','),
			cook_purpose=replace(@col27,'，',','),
			cook_flavor=replace(@col28,'，',','),
			cook_cooker=replace(@col29,'，',','),
			cook_shoot_place=replace(@col30,'，',','),
			cook_level_a=replace(@col31,'，',','),
			cook_level_b=replace(@col32,'，',','),
			cook_level_c=replace(@col33,'，',','),
			cook_time=replace(@col34,'，',','),
			cook_nutrient=replace(@col35,'，',','),
			cook_ea=replace(@col36,'，',','),
			cook_etc_a=replace(@col37,'，',','),
			cook_etc_b=replace(@col38,'，',',')
	</insert>
	
	<insert id="importRelKnowledgesCurr" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		LOAD DATA LOCAL INFILE #{relKnowledgeFilePath}
		IGNORE
		INTO TABLE `metatagdb`.`vod_rt_curr`
		COLUMNS TERMINATED BY ','
		ENCLOSED BY '"'
		LINES TERMINATED BY '\n'
		IGNORE 1 LINES
		(@col1,@col2,@col3,@col4,@col5,@col6,@col7,@col8,@col9,@col10,@col11,@col12,@col13,@col14,@col15)
		set
			regweek=replace(@col1,'，',','),
			stat=replace(@col2,'，',','),
			title=replace(@col3,'，',','),
			part=replace(@col4,'，',','),
			assetid=replace(@col5,'，',','),
			curr_subject=replace(@col6,'，',','),
			curr_person=replace(@col7,'，',','),
			curr_incident=replace(@col8,'，',','),
			curr_product=replace(@col9,'，',','),
			curr_process=replace(@col10,'，',','),
			curr_type=replace(@col11,'，',','),
			curr_mc=replace(@col12,'，',','),
			curr_actor=replace(@col13,'，',','),
			curr_keyword=replace(@col14,'，',','),
			cur_etc=replace(@col15,'，',',')
	</insert>
	
	<insert id="importRelKnowledgesDocu" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		LOAD DATA LOCAL INFILE #{relKnowledgeFilePath}
		IGNORE
		INTO TABLE `metatagdb`.`vod_rt_docu`
		COLUMNS TERMINATED BY ','
		ENCLOSED BY '"'
		LINES TERMINATED BY '\n'
		IGNORE 1 LINES
		(@col1,@col2,@col3,@col4,@col5,@col6,@col7,@col8,@col9,@col10,@col11,@col12,@col13)
		set
			regweek=replace(@col1,'，',','),
			stat=replace(@col2,'，',','),
			title=replace(@col3,'，',','),
			part=replace(@col4,'，',','),
			assetid=replace(@col5,'，',','),
			docu_subject=replace(@col6,'，',','),
			docu_person=replace(@col7,'，',','),
			docu_incident=replace(@col8,'，',','),
			docu_area=replace(@col9,'，',','),
			docu_mc=replace(@col10,'，',','),
			docu_actor=replace(@col11,'，',','),
			docu_keyword=replace(@col12,'，',','),
			docu_etc=replace(@col13,'，',',')
	</insert>
	
	<insert id="importRelKnowledgesHeal" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		LOAD DATA LOCAL INFILE #{relKnowledgeFilePath}
		IGNORE
		INTO TABLE `metatagdb`.`vod_rt_heal`
		COLUMNS TERMINATED BY ','
		ENCLOSED BY '"'
		LINES TERMINATED BY '\n'
		IGNORE 1 LINES
		(@col1,@col2,@col3,@col4,@col5,@col6,@col7,@col8,@col9,@col10,@col11,@col12,@col13,@col14,@col15,@col16,@col17,@col18,@col19,@col20,@col21,@col22,@col23,@col24,@col25,@col26,@col27,@col28,@col29,@col30,@col31,@col32,@col33)
		set
			regweek=replace(@col1,'，',','),
			stat=replace(@col2,'，',','),
			title=replace(@col3,'，',','),
			part=replace(@col4,'，',','),
			assetid=replace(@col5,'，',','),
			heal_subject=replace(@col6,'，',','),
			heal_part=replace(@col7,'，',','),
			heal_symtoms=replace(@col8,'，',','),
			heal_cause_a=replace(@col9,'，',','),
			heal_cause_b=replace(@col10,'，',','),
			heal_cause_c=replace(@col11,'，',','),
			heal_diagnose=replace(@col12,'，',','),
			heal_treat_type=replace(@col13,'，',','),
			heal_prevention=replace(@col14,'，',','),
			heal_drug=replace(@col15,'，',','),
			heal_treat_name=replace(@col16,'，',','),
			heal_hospital=replace(@col17,'，',','),
			heal_doctor=replace(@col18,'，',','),
			heal_talker=replace(@col19,'，',','),
			heal_actor=replace(@col20,'，',','),
			heal_expert=replace(@col21,'，',','),
			heal_public=replace(@col22,'，',','),
			heal_course=replace(@col23,'，',','),
			heal_activity=replace(@col24,'，',','),
			heal_ingredient=replace(@col25,'，',','),
			heal_food_a=replace(@col26,'，',','),
			heal_food_b=replace(@col27,'，',','),
			heal_activity_part=replace(@col28,'，',','),
			heal_activity_name=replace(@col29,'，',','),
			heal_season=replace(@col30,'，',','),
			heal_target=replace(@col31,'，',','),
			heal_keyword=replace(@col32,'，',','),
			heal_etc=replace(@col33,'，',',')
	</insert>
	
	<insert id="importRelKnowledgesHist" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		LOAD DATA LOCAL INFILE #{relKnowledgeFilePath}
		IGNORE
		INTO TABLE `metatagdb`.`vod_rt_hist`
		COLUMNS TERMINATED BY ','
		ENCLOSED BY '"'
		LINES TERMINATED BY '\n'
		IGNORE 1 LINES
		(@col1,@col2,@col3,@col4,@col5,@col6,@col7,@col8,@col9,@col10,@col11,@col12,@col13,@col14,@col15,@col16,@col17)
		set
			regweek=replace(@col1,'，',','),
			stat=replace(@col2,'，',','),
			program=replace(@col3,'，',','),
			title=replace(@col4,'，',','),
			assetid=replace(@col5,'，',','),
			hist_subject=replace(@col6,'，',','),
			hist_area_a=replace(@col7,'，',','),
			hist_area_b=replace(@col8,'，',','),
			hist_year_a=replace(@col9,'，',','),
			hist_year_b=replace(@col10,'，',','),
			hist_person=replace(@col11,'，',','),
			hist_feat=replace(@col12,'，',','),
			hist_incident=replace(@col13,'，',','),
			hist_thing=replace(@col14,'，',','),
			hist_area_c=replace(@col15,'，',','),
			hist_actor=replace(@col16,'，',','),
			hist_etc=replace(@col17,'，',',')
	</insert>
	
	<insert id="importRelKnowledgesTour" parameterType="com.kthcorp.cmts.model.RelKnowledge">
		LOAD DATA LOCAL INFILE #{relKnowledgeFilePath}
		IGNORE
		INTO TABLE `metatagdb`.`vod_rt_tour`
		COLUMNS TERMINATED BY ','
		ENCLOSED BY '"'
		LINES TERMINATED BY '\n'
		IGNORE 1 LINES
		(@col1,@col2,@col3,@col4,@col5,@col6,@col7,@col8,@col9,@col10,@col11,@col12,@col13,@col14,@col15,@col16,@col17,@col18,@col19,@col20,@col21,@col22,@col23,@col24,@col25,@col26,@col27,@col28,@col29,@col30,@col31,@col32,@col33,@col34,@col35)
		set
			regweek=@col1,'，',','),
			stat=@col2,'，',','),
			title=@col3,'，',','),
			part=@col4,'，',','),
			assetid=@col5,'，',','),
			type=@col6,'，',','),
			tour_theme=@col7,'，',','),
			tour_area_a=@col8,'，',','),
			tour_area_b=@col9,'，',','),
			tour_area_c=@col10,'，',','),
			tour_area_d=@col11,'，',','),
			tour_area_e=@col12,'，',','),
			tour_natural=@col13,'，',','),
			tour_nation=@col14,'，',','),
			tour_person=@col15,'，',','),
			tour_festival=@col16,'，',','),
			tour_type_a=@col17,'，',','),
			tour_type_b=@col18,'，',','),
			tour_type_c=@col19,'，',','),
			tour_season=@col20,'，',','),
			tour_human=@col21,'，',','),
			tour_tourist=@col22,'，',','),
			tour_mc_yn=@col23,'，',','),
			tour_mc=@col24,'，',','),
			tour_food=@col25,'，',','),
			tour_type_d=@col26,'，',','),
			tour_festival_name=@col27,'，',','),
			tour_trans=@col28,'，',','),
			tour_peaple=@col29,'，',','),
			tour_weather=@col30,'，',','),
			tour_music=@col31,'，',','),
			tour_period=@col32,'，',','),
			tour_companion=@col33,'，',','),
			tour_etc_a=@col34,'，',','),
			tour_etc_b=@col35,'，',',')
	</insert>



	<select id="getVodCook" parameterType="java.util.Map" resultType="java.util.Map">
		/* getVodCook */
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			cook_title_a,
			cook_title_b,
			cook_parts,
			cook_parts_main,
			cook_parts_sub,
			cook_type_a,
			cook_type_b,
			cook_chef_a,
			cook_chef_b,
			cook_kor_area_a,
			cook_kor_area_b,
			cook_oth_area_a,
			cook_oth_area_b,
			cook_place_name,
			cook_place_kor_area_a,
			cook_place_kor_area_b,
			cook_place_oth_area_a,
			cook_place_oth_area_b,
			cook_good_season,
			cook_good_day,
			cook_purpose,
			cook_flavor,
			cook_cooker,
			cook_shoot_place,
			cook_level_a,
			cook_level_b,
			cook_level_c,
			cook_time,
			cook_nutrient,
			cook_ea,
			cook_etc_a,
			cook_etc_b
		FROM
			vod_rt_cook
		WHERE regweek != '' and title != ''
	</select>

	<select id="getVodCurr" parameterType="java.util.Map" resultType="java.util.Map">
		/* getVodCurr */
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			curr_subject,
			curr_person,
			curr_incident,
			curr_product,
			curr_process,
			curr_type,
			curr_mc,
			curr_actor,
			curr_keyword,
			cur_etc
		FROM
			vod_rt_curr
		WHERE regweek != '' and title != ''
	</select>

	<select id="getVodDocu" parameterType="java.util.Map" resultType="java.util.Map">
		/* getVodDocu */
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			docu_subject,
			docu_person,
			docu_incident,
			docu_area,
			docu_mc,
			docu_actor,
			docu_keyword,
			docu_etc
		FROM
			vod_rt_docu
		WHERE regweek != '' and title != ''
	</select>

	<select id="getVodHeal" parameterType="java.util.Map" resultType="java.util.Map">
		/* getVodHeal */
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			heal_subject,
			heal_part,
			heal_symtoms,
			heal_cause_a,
			heal_cause_b,
			heal_cause_c,
			heal_diagnose,
			heal_treat_type,
			heal_prevention,
			heal_drug,
			heal_treat_name,
			heal_hospital,
			heal_doctor,
			heal_talker,
			heal_actor,
			heal_expert,
			heal_public,
			heal_course,
			heal_activity,
			heal_ingredient,
			heal_food_a,
			heal_food_b,
			heal_activity_part,
			heal_activity_name,
			heal_season,
			heal_target,
			heal_keyword,
			heal_etc
		FROM
			vod_rt_heal
		WHERE regweek != '' and title != ''
	</select>

	<select id="getVodHist" parameterType="java.util.Map" resultType="java.util.Map">
		/* getVodHist */
		SELECT
			idx,
			regweek,
			stat,
			program,
			title,
			assetid,
			hist_subject,
			hist_area_a,
			hist_area_b,
			hist_year_a,
			hist_year_b,
			hist_person,
			hist_feat,
			hist_incident,
			hist_thing,
			hist_area_c,
			hist_actor,
			hist_etc
		FROM
			vod_rt_hist
		WHERE regweek != '' and title != ''
	</select>

	<select id="getVodTour" parameterType="java.util.Map" resultType="java.util.Map">
		/* getVodTour */
		SELECT
			idx,
			regweek,
			stat,
			title,
			part,
			assetid,
			type,
			tour_theme,
			tour_area_a,
			tour_area_b,
			tour_area_c,
			tour_area_d,
			tour_area_e,
			tour_natural,
			tour_nation,
			tour_person,
			tour_festival,
			tour_type_a,
			tour_type_b,
			tour_type_c,
			tour_season,
			tour_human,
			tour_tourist,
			tour_mc_yn,
			tour_mc,
			tour_food,
			tour_type_d,
			tour_festival_name,
			tour_trans,
			tour_peaple,
			tour_weather,
			tour_music,
			tour_period,
			tour_companion,
			tour_etc_a,
			tour_etc_b
		FROM
			vod_rt_tour
		WHERE regweek != '' and title != ''
	</select>


</mapper>