<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.SchedTargetContentMapper">

    <insert id="insSchedTargetContent" parameterType="com.kthcorp.cmts.model.SchedTargetContent" useGeneratedKeys="true" keyProperty="stc_id">
        /* insSchedTargetContent */
        insert into sched_target_content (sc_id, tg_id, stmh_id, regdate, content)
        values (#{sc_id}, #{tg_id}, #{stmh_id}, NOW(), #{content})
    </insert>

    <select id="getSchedTargetContentList" resultType="com.kthcorp.cmts.model.SchedTargetContent" parameterType="com.kthcorp.cmts.model.SchedTargetContent">
        /* getSchedTargetContentList */
        select c.*
        , stmh.tcnt
        , ct.tg_url
        from sched_target_content c
        inner join sched_trigger st on st.sc_id = c.sc_id
        inner join sched_target_mapping_hist stmh on stmh.sc_id = c.sc_id and stmh.stmh_id = c.stmh_id and stmh.tcnt = st.tcnt
        inner join conf_target ct on ct.tg_id = c.tg_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test='sc_id > 0'>
                c.sc_id = #{sc_id}
            </if>
            <if test='tg_id > 0'>
                and c.tg_id = #{tg_id}
            </if>
            <if test='stc_id > 0'>
                and c.stc_id = #{stc_id}
            </if>
            <if test='stmh_id > 0'>
                and c.stmh_id = #{stmh_id}
            </if>
        </trim>
    </select>

    <select id="getSchedTargetContentLastOne" resultType="com.kthcorp.cmts.model.SchedTargetContent" parameterType="com.kthcorp.cmts.model.SchedTargetContent">
        /* getSchedTargetContentLastOne */
        select c.* from sched_target_content c
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test='sc_id > 0'>
                c.sc_id = #{sc_id}
            </if>
            <if test='tg_id > 0'>
                and c.tg_id = #{tg_id}
            </if>
            <if test='stc_id > 0'>
                c.stc_id = #{stc_id}
            </if>
            <if test='stmh_id > 0'>
                c.stmh_id = #{stmh_id}
            </if>
        </trim>
        order by c.stmh_id desc limit 1
    </select>

    <delete id="deleteSchedTargetContentOrigin" parameterType="java.lang.Integer">
        /* deleteSchedTargetContentOrigin */
        delete from sched_target_content where stc_id in (
            select a.* from (
                select stc.stc_id
                from sched_target_content stc
                inner join items_sched_mapping ism on ism.sc_id = stc.sc_id
                inner join items it on it.idx = ism.idx and it.idx = #{itemidx}
            ) a
        )
    </delete>

</mapper>