<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.SnsMapper">

    <select id="getSnsTopWordsByTarget" parameterType="map" resultType="map">
        /* getSnsTopWordsByTarget */
        select * from sns_top_words
        where target = #{target}
        and date1 <![CDATA[ >= ]]> #{sdate} and date1 <![CDATA[ <= ]]> #{edate}
        order by target asc, regdate asc
    </select>

    <insert id="insSnsTopWords" parameterType="map">
        /* insSnsTopWords */
        insert into sns_top_words (target, date1, meta, regdate, regid)
        values (#{target}, #{date1}, #{meta}, now(), #{regid})
        ON DUPLICATE KEY UPDATE meta = #{meta} , regdate = now()

    </insert>

    <insert id="insSnsTopWords2" parameterType="map">
        /* insSnsTopWords */
        insert into sns_top_words2 (target, date1, word, rank, regdate, regid)
        values (#{target}, #{date1}, #{word}, #{rank}, now(), #{regid})

    </insert>
    <delete id="delSnsTopWords2" parameterType="map">
        /* delSnsTopWords2 */
        delete from sns_top_words2
        where target = #{target} and date1 = #{date1}
    </delete>

    <select id="getSnsTopWords2Rank" resultType="map" parameterType="map">
        /* getSnsTopWords2Rank  */
        select target, date1, word, rank from sns_top_words2
        where target=#{target}
        and date1 <![CDATA[ >= ]]> #{sdate} and date1 <![CDATA[ <= ]]> #{edate}
        order by date1 asc, rank asc
    </select>

    <select id="getMaxDateStr" resultType="java.lang.String">
        /* getMaxDateStr */
        select max(date1) as date1 from sns_top_words2
    </select>

    <select id="getSnsTopWords2RankByWord" resultType="map" parameterType="map">
        /* getSnsTopWords2Rank  */
        select target, date1, word, rank from sns_top_words2
        where target=#{target}
        and date1 <![CDATA[ >= ]]> #{sdate} and date1 <![CDATA[ <= ]]> #{edate}
        and word = #{word}
        order by date1 asc, rank asc
    </select>
</mapper>