<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kthcorp.cmts.mapper.StatsMapper">
    <cache eviction="LRU" flushInterval="5000" size="512" readOnly="true"/>

    <select id="top_countInItems" resultType="java.lang.Integer" useCache="true">
      /* -------- 상단 통계 ---------*/
        /* 입수 완료 */
        /* top_countInItems */
        /* select count(*) from items */
        /* select count(*) from items_hist where type = 'ccube' */
        select count(*) from (
            select it.idx from items it
            inner join ccube_keys ck on ck.itemidx = it.idx and (ck.content_id = it.cid or ck.series_id = it.cid)
            where it.stat = 'Y'
            group by it.idx
        ) a
    </select>


    <select id="top_countEndTagged" resultType="java.lang.Integer" useCache="true">
        /* 태깅 완료 */
        /* top_countEndTagged */
        /* select count(*) from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat = 'ST' */
        /* select count(*) from items_hist where type = 'meta' and action = 'CONFIRM_META' */

          select count(*) from (
            select it.idx
            , ( select max(tagidx) from items_tags_keys where idx = it.idx and stat = 'S' ) as tagidx
            from items it
            inner join items_stat iss on iss.idx = it.idx and iss.stat = 'ST'
            inner join ccube_keys ck on ck.itemidx = it.idx and (ck.content_id = it.cid or ck.series_id = it.cid)
          ) a
          where a.tagidx is not null
    </select>

    <select id="top_countCollecting" resultType="java.lang.Integer" useCache="true">
        /* 수집 진행 */
        /* top_countCollecting */
        /* select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type = 'C'
        group by ism.idx
        ) a */
        select count(*) from items_hist where type = 'collect' and action = 'START_COLLECT'
    </select>


    <select id="top_countCollected" resultType="java.lang.Integer" useCache="true">
        /* 수집 완료 */
        /* top_countCollected */
        /*select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type = 'C' and st.stat in ('S','F')
        group by ism.idx
        ) a*/
        select count(*) from items_hist where type = 'collect' and action = 'END_COLLECT' and stat = 'S'
    </select>


    <select id="top_countAnalyzing" resultType="java.lang.Integer" useCache="true">
        /* 추출 진행 */
        /* top_countAnalyzing */
        /* select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type = 'A'
        group by ism.idx
        ) a */
        select count(*) from items_hist where type = 'analyze' and action = 'START_ANALYZE'
    </select>

    <select id="top_countAnalyzed" resultType="java.lang.Integer" useCache="true">
        /* 추출 완료 */
        /* top_countAnalyzed */
        /* select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type = 'A' and st.stat in ('S')
        group by ism.idx
        ) a */
        select count(*) from items_hist where type = 'analyze' and action = 'END_ANALYZE' and stat = 'S'

    </select>

    <select id="top_countAnalyze_fail" resultType="java.lang.Integer" useCache="true">
        /* top_countAnalyze_fail  */
        select count(*)
        from items it
        inner join items_sched_mapping ism on ism.idx = it.idx
        inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type = 'A' and sc.stat = 'F';
    </select>

    <select id="top_countTagging" resultType="java.lang.Integer" useCache="true">
        /* 승인 진행 */
        /* top_countTagging */
        /* select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type = 'A' and st.stat in ('S')
        group by ism.idx
        ) a */
        select count(*) from items_hist
        where ( type = 'analyze' and action = 'END_ANALYZE' and stat = 'S' )
        or stat = 'UPT'
    </select>

    <select id="top_countTagged" resultType="java.lang.Integer" useCache="true">
        /* 승인 완료 */
        /* top_countTagged */
        /* select ifnull(count(*), 0) from items_tags_keys where stat = 'S' */
        select count(*) from items_hist where type = 'meta' and action = 'CONFIRM_META' and stat = 'S'
    </select>

    <select id="mid_countReady" resultType="java.lang.Integer" useCache="true">
    /* -------- 중단 통계 ---------*/
        /* 처리대기 건수 */
        select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type in ('C','R','A') and st.stat = 'Y'
        ) a
    </select>

    <select id="mid_countFailCollect" resultType="java.lang.Integer" useCache="true">
        /* 수집실패 건수 */
        /* mid_countFailCollect */
        /* select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type = 'C' and st.stat = 'F'
        ) a */
        /* select count(*)
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat = 'FC'
        */
        /*
        select count(*)
        from items it
        inner join items_sched_mapping ism on ism.idx = it.idx
        inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type = 'C' and sc.stat = 'F';
        */
        select count(*) from items_stat iss
        inner join items it on it.idx = iss.idx
        inner join ccube_keys ck on ck.itemidx = it.idx and (ck.content_id = it.cid or ck.series_id = it.cid)
        where iss.stat in ('FC');
    </select>

    <select id="mid_countFailAnalyze" resultType="java.lang.Integer" useCache="true">
        /* 추출실패 건수 */
        /* mid_countFailAnalyze */
        /* select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type in ('R', 'A') and st.stat = 'F'
        ) a */
        /*
        select count(*)
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat in ('FR','FA') */
        /*
        select count(*) from (
            select distinct(it.idx)
            from items it
            inner join items_sched_mapping ism on ism.idx = it.idx
            inner join sched_trigger sc on sc.sc_id = ism.sc_id and sc.type in ('R','A') and sc.stat = 'F'
            group by it.idx
        ) a
        */
        select count(*) from items_stat iss
        inner join items it on it.idx = iss.idx
        inner join ccube_keys ck on ck.itemidx = it.idx and (ck.content_id = it.cid or ck.series_id = it.cid)
        where iss.stat in ('FR','FA');
    </select>

    <select id="mid_countReadyTagging" resultType="java.lang.Integer" useCache="true">
        /* 승인대기 건수 */
        /* mid_countReadyTagging */
        /*select count(*) from (
        select ism.idx from sched_trigger st
        inner join items_sched_mapping ism on ism.sc_id = st.sc_id
        inner join items it on it.idx = ism.idx
        where st.type = 'A' and st.stat = 'S'
        ) a*/
        /* select count(*)
        from items_stat
        where stat = 'RT' */
        select count(*)
        from items it
        inner join items_stat iss on iss.idx = it.idx and iss.stat = 'RT'
        inner join ccube_keys ck on ck.itemidx = it.idx and (ck.content_id = it.cid or ck.series_id = it.cid)
    </select>

    <select id="mid_down_stats" resultType="java.lang.Integer" useCache="true">

    /* ------ 좌측하단 ------ */
    /* 태깅 비율 */
    /* 승인대기건 / 입수완료건 */

    /* 수집 비율 */
    /* 수집완료건 / 입수완료건 */

    /* 추출비율 */
    /* 추출완료건 / 입수완료건 */

    /* 승인비율 */
    /* 승인완료건 / 입수완료건 */
    select 1
    </select>

    <select id="down_stats" resultType="java.lang.Integer" useCache="true">
    /* ---- 우측하단 통계 ----- */
    /* 주간통계 */
    select 1
    </select>

    <select id="down_countsInserted" resultType="com.kthcorp.cmts.model.Stats" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
    /* 일별통계 */
    /* 인입건수 */
        /* down_countsInserted */
        select count(*) as cnt, date from (
            select a.cid, a.date from (
                (
                select cc.content_id as cid, DATE(cc.regdate) as date from ccube_contents cc
                where
                cc.regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
                )
                union
                (
                select cs.series_id as cid, DATE(cs.regdate) as date from ccube_series cs
                where
                cs.regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
                )
            ) a
        ) b group by b.date

    </select>

    <select id="down_countsCollected" resultType="com.kthcorp.cmts.model.Stats" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
    /* 수집건수 */
        /* down_countsCollected  */
        SELECT DATE(b.regdate) AS date,
        sum(b.cnt) as cnt
        FROM (
            select a.idx, a.regdate, 1 as cnt from (
                select ism.idx, st.regdate from sched_trigger st
                inner join items_sched_mapping ism on ism.sc_id = st.sc_id
                inner join items it on it.idx = ism.idx
                where st.regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
                and st.type = 'C' and st.stat in ('S','F')
                group by ism.idx
            ) a
        ) b
        GROUP BY date
    </select>

    <select id="down_countsAnalyzed" resultType="com.kthcorp.cmts.model.Stats" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
    /* 추출건수 */
        /* down_countsAnalyzed */
        SELECT DATE(b.regdate) AS date,
        sum(b.cnt) as cnt
        FROM (
            select a.idx, a.regdate, 1 as cnt from (
                select ism.idx, st.regdate from sched_trigger st
                inner join items_sched_mapping ism on ism.sc_id = st.sc_id
                inner join items it on it.idx = ism.idx
                where  st.regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
                and st.type = 'A' and st.stat in ('S')
                group by ism.idx
            ) a
        ) b
        GROUP BY date
    </select>

    <select id="down_countsTagged" resultType="com.kthcorp.cmts.model.Stats" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
    /* 승인건수 */
        /* down_countsTagged */
        /*
        SELECT DATE(a.regdate) AS date,
        sum(a.cnt) as cnt
        FROM (
            select ik.idx, ik.regdate, 1 as cnt from items_tags_keys ik
            where DATE(ik.regdate) <![CDATA[ >= ]]> STR_TO_DATE('', '%Y-%m-%d')
            AND DATE(ik.regdate) <![CDATA[ <= ]]> STR_TO_DATE(''}, '%Y-%m-%d')
            AND ik.stat = 'S'
            group by ik.idx
        ) a
        GROUP BY date
        */
        select count(*) as cnt, date1 as date, type, stat from (
        select count(*), substr(regdate, 1,10) as date1, type, stat, idx from items_hist
        where type = 'meta' and stat = 'S'
        and regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
        group by substr(regdate, 1, 10), type, stat, idx
        ) a group by a.date1, a.type, a.stat;
    </select>

    <select id="getCountInsertedDaily_bak" resultType="java.lang.Integer" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
        /* getCountInsertedDaily_bak */

        select sum(a.cnt) as cnt_all from (
            (
            select count(*) as cnt from ccube_contents
            where regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
            ) union (
            select count(*) as cnt from ccube_series
            where regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
            )
        ) a
    </select>

    <select id="getCountInsertedDaily" resultType="java.lang.Integer" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
        /* getCountInsertedDaily */
        select count(*) from items
        where stat != 'M'
        and regdate1 between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
    </select>

    <select id="getCountItemsHistByType" resultType="com.kthcorp.cmts.model.Stats" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
        /* getCountItemsHistByType  */
        select ith.type, ith.stat, count(*) as cnt
        from items_hist ith
        inner join items it on it.idx = ith.idx and it.stat != 'M'
        where ith.type in ( 'collect', 'analyze', 'meta' )
        and ith.regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
        group by ith.type, ith.stat

    </select>

    <select id="getCountsItemsStatByStat" resultType="com.kthcorp.cmts.model.Stats" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
        /* getCountsItemsStatByStat  */
        select count(*) as cnt, iss.stat
        from items_stat iss
        inner join items it on it.idx = iss.idx and it.stat != 'M'
        inner join ccube_keys ck on ck.itemidx = iss.idx
        where iss.regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
        <if test='stat != null and stat != ""'>
            and iss.stat = #{stat}
        </if>
        group by iss.stat
    </select>

    <select id="getCountsItemsByStatUniq" resultType="com.kthcorp.cmts.model.Stats" parameterType="com.kthcorp.cmts.model.Stats" useCache="true">
        /* getCountsItemsByStatUniq */
        select a.type,a.stat,count(*) as cnt from (
        select ih.type, ih.stat, ih.idx
        from items_hist ih
        inner join items it on it.idx = ih.idx and it.stat != 'M'
        where ih.type in ('collect', 'analyze', 'meta')
        and ih.regdate between concat(#{sdate}, ' 00:00:00') and concat(#{edate}, ' 23:59:59')
        group by ih.type, ih.stat, ih.idx
        ) a group by a.type, a.stat
    </select>
</mapper>